.search_area .search[data-v-9a53d442] {
    position: relative;
    padding: 0 40px 0 44px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 8px
}

.search_area .ico-search-gray[data-v-9a53d442] {
    position: absolute;
    top: 8px;
    left: 12px
}

.search_area .btn_search_delete[data-v-9a53d442] {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px
}

.search_area .input_search[data-v-9a53d442] {
    width: 100%;
    height: 100%;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    font-size: 14px;
    letter-spacing: -.21px
}

.search_area .input_search[data-v-9a53d442]:focus {
    border: none;
    outline: none;
    -moz-outline-style: none;
    font-size: 14px;
    letter-spacing: -.21px
}

@media(max-width:359px) {
    .search_area .search[data-v-9a53d442] {
        padding-right: 35px
    }
}

.mo .search_area .ico-search-gray[data-v-9a53d442],
.sm .search_area .ico-search-gray[data-v-9a53d442] {
    width: 19px;
    height: 19px;
    top: 10px;
    left: 14px
}

.mo .search_area .btn_search_delete[data-v-9a53d442],
.sm .search_area .btn_search_delete[data-v-9a53d442] {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px
}

.mo .search_area .btn_search_delete .ico-delete-circle-gray[data-v-9a53d442],
.sm .search_area .btn_search_delete .ico-delete-circle-gray[data-v-9a53d442] {
    width: 20px;
    height: 20px
}

.mo .search_area .input_search[data-v-9a53d442],
.sm .search_area .input_search[data-v-9a53d442] {
    font-weight: 700;
    font-size: 15px
}

.brand_list[data-v-93eb701a] {
    padding: 0 40px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.brand_list[data-v-93eb701a]::-webkit-scrollbar {
    display: none
}

.brand_list.search_trend[data-v-93eb701a] {
    display: -webkit-box;
    display: flex;
    overflow-x: auto;
    padding: 0 0 16px
}

.brand_list.search_trend .brand_item[data-v-93eb701a] {
    background-color: transparent !important
}

.brand_list.search_trend .brand_item+.brand_item[data-v-93eb701a] {
    margin-left: 40px
}

.brand_list.search_trend .brand_box[data-v-93eb701a] {
    width: 84px;
    height: 82px
}

.brand_list.search_trend .brand_img[data-v-93eb701a] {
    width: 70px;
    height: 70px
}

.brand_list.search_trend .brand_name[data-v-93eb701a] {
    margin-top: -2px;
    font-size: 13px;
    font-weight: 600
}

.brand_item[data-v-93eb701a] {
    display: inline-block;
    vertical-align: top;
    border-radius: 8px
}

.brand_item+.brand_item[data-v-93eb701a] {
    margin-left: 20px
}

.brand_box[data-v-93eb701a] {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer
}

.brand_box[data-v-93eb701a]:hover {
    font-weight: 700
}

.brand_img[data-v-93eb701a] {
    width: 80px;
    height: 80px
}

.brand_name[data-v-93eb701a] {
    max-width: 80px;
    margin: -8px auto 0;
    font-size: 12px
}

.mo .brand_list[data-v-93eb701a],
.sm .brand_list[data-v-93eb701a] {
    padding: 18px 24px 10px
}

.mo .brand_list.fetching[data-v-93eb701a],
.sm .brand_list.fetching[data-v-93eb701a] {
    min-height: 90px
}

.mo .brand_list .brand_item+.brand_item[data-v-93eb701a],
.sm .brand_list .brand_item+.brand_item[data-v-93eb701a] {
    margin-left: 8px
}

.mo .brand_list.search_trend[data-v-93eb701a],
.sm .brand_list.search_trend[data-v-93eb701a] {
    display: block;
    padding: 0 16px 16px
}

.mo .brand_list.search_trend .brand_item+.brand_item[data-v-93eb701a],
.sm .brand_list.search_trend .brand_item+.brand_item[data-v-93eb701a] {
    margin-left: 0
}

.mo .brand_list.search_trend .brand_box[data-v-93eb701a],
.sm .brand_list.search_trend .brand_box[data-v-93eb701a] {
    height: 74px
}

.mo .brand_list.search_trend .brand_img[data-v-93eb701a],
.sm .brand_list.search_trend .brand_img[data-v-93eb701a] {
    width: 60px;
    height: 60px
}

.mo .brand_list.search_trend .brand_name[data-v-93eb701a],
.sm .brand_list.search_trend .brand_name[data-v-93eb701a] {
    font-size: 12px
}

.sm .brand_list[data-v-93eb701a] {
    padding-left: 16px;
    padding-right: 16px
}

.sm .brand_list.search_trend[data-v-93eb701a] {
    padding-left: 8px;
    padding-right: 8px
}

.lg .brand_list.fetching[data-v-93eb701a],
.md .brand_list.fetching[data-v-93eb701a] {
    min-height: 98px
}

.result_nodata[data-v-7e4a9934] {
    position: relative;
    padding: 120px 0 100px;
    background-color: #fff;
    text-align: center
}

.result_nodata .nodata_main[data-v-7e4a9934] {
    font-size: 16px;
    letter-spacing: -.16px;
    color: rgba(34, 34, 34, .8)
}

.result_nodata .nodata_sub[data-v-7e4a9934] {
    padding-top: 6px;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34, 34, 34, .5)
}

.result_nodata .emphasis[data-v-7e4a9934] {
    font-weight: 600
}

.result_nodata .btn_nodata[data-v-7e4a9934] {
    font-size: 12px;
    font-weight: 600;
    padding: 9px 10px;
    border: 1px solid #222;
    border-radius: 10px;
    margin-top: 12px;
    cursor: pointer
}

.result_nodata.mo[data-v-7e4a9934],
.result_nodata.sm[data-v-7e4a9934] {
    padding: 80px 0
}

.result_nodata.mo .nodata_sub[data-v-7e4a9934],
.result_nodata.sm .nodata_sub[data-v-7e4a9934] {
    font-size: 12px;
    letter-spacing: -.06px
}

.layer_search .result_nodata.mo[data-v-7e4a9934],
.layer_search .result_nodata.sm[data-v-7e4a9934] {
    margin-right: 15px
}

.suggest_list[data-v-6c61cf2d] {
    max-height: 420px;
    overflow-y: auto
}

.suggest_list.md[data-v-6c61cf2d],
.suggest_list.mo[data-v-6c61cf2d],
.suggest_list.sm[data-v-6c61cf2d] {
    padding: 0 16px;
    max-height: calc(100vh - 105px)
}

.suggest_list.md .suggest_thumb[data-v-6c61cf2d],
.suggest_list.mo .suggest_thumb[data-v-6c61cf2d],
.suggest_list.sm .suggest_thumb[data-v-6c61cf2d] {
    margin-right: 8px
}

.suggest_list.md .suggest_info[data-v-6c61cf2d],
.suggest_list.mo .suggest_info[data-v-6c61cf2d],
.suggest_list.sm .suggest_info[data-v-6c61cf2d] {
    max-width: calc(100% - 70px);
    padding-right: 15px
}

.suggest_item[data-v-6c61cf2d] {
    height: 84px;
    border-bottom: 1px solid #ebebeb
}

.suggest_link[data-v-6c61cf2d] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%
}

.suggest_link[data-v-6c61cf2d]:active,
.suggest_link[data-v-6c61cf2d]:hover {
    background-color: #fafafa
}

.suggest_link .suggest_thumb[data-v-6c61cf2d] {
    overflow: hidden;
    margin-right: 7px;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #f4f4f4
}

.suggest_link .thumb_img[data-v-6c61cf2d] {
    width: 100%;
    height: 100%
}

.suggest_link .model_title[data-v-6c61cf2d] {
    font-size: 14px;
    letter-spacing: -.21px
}

.suggest_link .model_sub_info[data-v-6c61cf2d],
.suggest_link .model_title[data-v-6c61cf2d] {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.suggest_link .model_sub_info[data-v-6c61cf2d] {
    margin-top: 2px;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34, 34, 34, .5)
}

.layer_interest .suggest_item[data-v-6c61cf2d] {
    height: 82px;
    padding-bottom: 10px
}

.layer_interest .model_title[data-v-6c61cf2d] {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: -.15px
}

.layer_interest .model_sub_info[data-v-6c61cf2d] {
    line-height: 16px;
    font-size: 11px
}

.search[data-v-63326639] {
    width: 500px;
    -webkit-box-flex: 0;
    flex: none;
    -webkit-box-ordinal-group: 1;
    order: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 8px;
    padding-bottom: 16px;
    border-bottom: 3px solid #000
}

.search .input_search[data-v-63326639] {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 29px;
    padding: 0 13px 0 1px;
    width: 468px;
    letter-spacing: -.015em
}

.search .input_search[data-v-63326639]::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.015em;
    color: rgba(34, 34, 34, .3)
}

.search .input_search[data-v-63326639]::-moz-placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.015em;
    color: rgba(34, 34, 34, .3)
}

.search .input_search[data-v-63326639]::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.015em;
    color: rgba(34, 34, 34, .3)
}

.search .btn_search_delete[data-v-63326639] {
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-right: 3px
}

.layer_search .search[data-v-63326639] {
    width: 100%;
    margin: 0
}

.layer_search .search .input_search[data-v-63326639] {
    width: 770px
}

.search_list[data-v-69038b4e] {
    display: -webkit-box
}

.search_item[data-v-69038b4e] {
    position: relative;
    padding: 3px 12px;
    display: inline-block;
    line-height: 25px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    margin: 0 6px 8px 0;
    cursor: pointer
}

.search_item .search_item_text[data-v-69038b4e] {
    max-width: 144.5px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34, 34, 34, .8);
    padding-right: 14px;
    display: block;
    letter-spacing: normal
}

.search_item .search_item_text[data-v-69038b4e]:hover {
    font-weight: 700;
    color: #222
}

.search_item .ico-delete-gray[data-v-69038b4e] {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px
}

.layer_search_item[data-v-4c8b0509] {
    display: block;
    margin-bottom: 40px
}

.layer_search_title_wrap[data-v-4c8b0509] {
    margin-bottom: 12px
}

.layer_search_title_wrap .title[data-v-4c8b0509] {
    font-size: 16px;
    font-weight: 700
}

.layer_search_title_wrap .title_sub_text[data-v-4c8b0509] {
    display: inline;
    margin-left: 5px;
    font-size: 13px;
    color: rgba(34, 34, 34, .8)
}

.layer_search_title_wrap .title_sub_text a[data-v-4c8b0509] {
    text-decoration: underline
}

.layer_search_title_wrap .title_sub_text span[data-v-4c8b0509] {
    cursor: unset
}

.md .title_sub_text[data-v-4c8b0509],
.mo .title_sub_text[data-v-4c8b0509],
.sm .title_sub_text[data-v-4c8b0509] {
    float: right
}

.layer_search_item.recent_keywords[data-v-4c8b0509] {
    margin-bottom: 32px
}

.layer_search_item.tag[data-v-4c8b0509] {
    margin-bottom: 28px
}

.layer_search_item.ranking[data-v-4c8b0509] {
    margin-bottom: 24px
}

.layer_search_item.recent_products[data-v-4c8b0509] {
    padding-bottom: 82px
}

.search_card_ranking[data-v-7d1ec4c1] {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style: none;
    line-height: 17px;
    font-size: 14px
}

.search_card_ranking .search_card_ranking_item[data-v-7d1ec4c1] {
    padding: 4px 0 16px;
    cursor: pointer;
    display: -webkit-box;
    display: flex
}

.search_card_ranking .ranking_idx[data-v-7d1ec4c1] {
    font-weight: 600;
    margin-right: 6px
}

.search_card_ranking .ranking_title[data-v-7d1ec4c1] {
    font-weight: 400;
    margin-right: 6px;
    max-width: 108px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap
}

.search_card_ranking .ranking_description[data-v-7d1ec4c1] {
    font-size: 10px;
    color: #f15746;
    line-height: 12px;
    font-weight: 600
}

.shortcut_items[data-v-26648e17] {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    grid-row-gap: 12px;
    row-gap: 12px
}

.shortcut_item[data-v-26648e17] {
    text-align: center;
    cursor: pointer
}

.shortcut_item_img_wrap[data-v-26648e17] {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    border-radius: 50%
}

.lg .shortcut_item_img_wrap[data-v-26648e17] {
    padding-top: 0;
    height: 80px;
    border-radius: 10px
}

.shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-26648e17] {
    position: absolute;
    top: 0;
    height: 100%
}

.shortcut_item_title[data-v-26648e17] {
    width: 100%;
    font-size: 13px;
    display: -webkit-box;
    letter-spacing: -.7px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-top: 6px;
    word-wrap: break-word
}

.lg .shortcut_item_title[data-v-26648e17] {
    margin-top: 8px
}

.lg .shortcut_item_img_bg[data-v-26648e17] {
    -webkit-transform: translateZ(10px);
    transform: translateZ(10px)
}

.search_card_tag_wrap[data-v-287b6374] {
    line-height: 13px
}

.search_card_tag[data-v-287b6374] {
    max-width: 142px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34, 34, 34, .8);
    background: #f4f4f4;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    padding: 8px 12px;
    display: inline-block;
    margin: 0 8px 12px 0
}

.recent_product_wrap[data-v-7129bc65] {
    overflow-x: auto;
    overflow-y: hidden
}

.recent_product_wrap .recent_product_list[data-v-7129bc65] {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px
}

.recent_product[data-v-7129bc65] {
    width: 80px;
    display: inline-block;
    margin-right: 8px
}

.recent_product[data-v-7129bc65] .image,
.recent_product[data-v-7129bc65] .product_img,
.recent_product[data-v-7129bc65] .recent_product_img_wrap {
    width: 80px;
    height: 80px;
    border-radius: 10px
}

.recent_product_name[data-v-7129bc65] {
    font-size: 11px;
    display: -webkit-box;
    letter-spacing: -.7px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-top: 6px;
    word-wrap: break-word
}

.suggest_title_area[data-v-5ec9d6fc] {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.21px;
    color: #000;
    font-weight: 700;
    padding: 16px 9px;
    border-bottom: 1px solid #ebebeb;
    position: relative
}

.suggest_title[data-v-5ec9d6fc] {
    font-size: 16px;
    font-weight: 700;
    color: #000
}

.suggest_type[data-v-5ec9d6fc] {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(34, 34, 34, .5);
    margin-left: 8px
}

.more_link[data-v-5ec9d6fc] {
    position: absolute;
    top: 17.5px;
    right: 0;
    font-size: 0
}

.more_text[data-v-5ec9d6fc] {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000
}

.ico-arr-right[data-v-5ec9d6fc] {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px
}

.mo .suggest_title_area[data-v-5ec9d6fc],
.sm .suggest_title_area[data-v-5ec9d6fc] {
    padding: 16px
}

.mo .suggest_title_area .more_link[data-v-5ec9d6fc],
.sm .suggest_title_area .more_link[data-v-5ec9d6fc] {
    right: 16px
}

.suggest_title_area[data-v-1f7980fd] {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.21px;
    color: #000;
    font-weight: 700;
    padding: 9px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    cursor: pointer
}

.suggest_title[data-v-1f7980fd] {
    font-size: 16px;
    font-weight: 700;
    color: #000
}

.suggest_title .ico-brand-official[data-v-1f7980fd] {
    width: 12px;
    height: 12px;
    margin-left: 2px
}

.suggest_description[data-v-1f7980fd] {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(34, 34, 34, .5);
    margin-top: 2px
}

.more_link[data-v-1f7980fd] {
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 0
}

.more_link .brand_logo[data-v-1f7980fd] {
    width: 32px;
    height: 32px;
    -o-object-fit: cover;
    object-fit: cover
}

.more_link .more_text[data-v-1f7980fd] {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(34, 34, 34, .5);
    margin-top: 6.5px
}

.mo .suggest_title_area[data-v-1f7980fd],
.sm .suggest_title_area[data-v-1f7980fd] {
    padding: 9px 16px
}

.mo .suggest_title_area .more_link[data-v-1f7980fd],
.sm .suggest_title_area .more_link[data-v-1f7980fd] {
    right: 16px
}

.layer_search[data-v-761e5fb3] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(34, 34, 34, .5);
    overflow-y: auto
}

.layer_search[data-v-761e5fb3] .layer_container {
    border-radius: unset !important;
    width: unset;
    position: unset;
    -webkit-transform: unset;
    transform: unset;
    height: 100%;
    overflow-y: scroll
}

.layer_search[data-v-761e5fb3] .search_container,
.layer_search[data-v-761e5fb3] .search_content_wrap,
.layer_search[data-v-761e5fb3] .suggest_wrap {
    background-color: #fff
}

.layer_search[data-v-761e5fb3] .search_wrap {
    display: -webkit-box;
    display: flex
}

.layer_search[data-v-761e5fb3] .search_wrap .search_area {
    -webkit-box-flex: 1;
    flex: 1
}

.layer_search[data-v-761e5fb3] .search_wrap .btn_close {
    margin-left: auto
}

.layer_search[data-v-761e5fb3] .search_list {
    margin-top: 4px
}

.lg .layer_search[data-v-761e5fb3] .has_notice {
    top: 32px
}

.lg .layer_search[data-v-761e5fb3] .search_content_wrap,
.lg .layer_search[data-v-761e5fb3] .search_wrap,
.lg .layer_search[data-v-761e5fb3] .suggest_area {
    width: 800px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    overflow: hidden
}

.lg .layer_search[data-v-761e5fb3] .search_content_wrap {
    margin-top: 20px
}

.lg .layer_search[data-v-761e5fb3] .search_wrap {
    padding-top: 50px
}

.lg .layer_search[data-v-761e5fb3] .btn_close {
    display: none
}

.md .layer_search[data-v-761e5fb3] .search_content_wrap,
.mo .layer_search[data-v-761e5fb3] .search_content_wrap,
.sm .layer_search[data-v-761e5fb3] .search_content_wrap {
    height: calc(100vh - 65px);
    padding: 20px 24px
}

.md .layer_search[data-v-761e5fb3] .search_wrap,
.mo .layer_search[data-v-761e5fb3] .search_wrap,
.sm .layer_search[data-v-761e5fb3] .search_wrap {
    padding: 12px 24px;
    border-bottom: 1px solid #ebebeb
}

.md .layer_search[data-v-761e5fb3] .search_wrap .search_area,
.mo .layer_search[data-v-761e5fb3] .search_wrap .search_area,
.sm .layer_search[data-v-761e5fb3] .search_wrap .search_area {
    margin-right: 15px
}

.md .layer_search[data-v-761e5fb3] .search_wrap .btn_close,
.mo .layer_search[data-v-761e5fb3] .search_wrap .btn_close,
.sm .layer_search[data-v-761e5fb3] .search_wrap .btn_close {
    font-size: 15px
}

.md .layer_search[data-v-761e5fb3] .suggest_area,
.mo .layer_search[data-v-761e5fb3] .suggest_area,
.sm .layer_search[data-v-761e5fb3] .suggest_area {
    padding: 0
}

.sm .layer_search[data-v-761e5fb3] .search_wrap {
    padding-left: 16px;
    padding-right: 16px
}

.sm .layer_search[data-v-761e5fb3] .suggest_area {
    padding-left: 16px;
    padding-right: 1px
}

.suggest_area[data-v-761e5fb3] {
    position: relative;
    padding: 0 44px 23px 40px
}

@media(max-width:359px) {
    .layer_search .search_wrap .search_area[data-v-761e5fb3] {
        margin-right: 15px
    }
}

.navigation_wrap[data-v-0eda3817] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent
}

.navigation_wrap.close[data-v-0eda3817] {
    display: block;
    position: fixed;
    -webkit-animation: mobile_navigation_background_off-data-v-0eda3817 .3s ease-in-out forwards;
    animation: mobile_navigation_background_off-data-v-0eda3817 .3s ease-in-out forwards;
    pointer-events: none
}

.navigation_wrap.open[data-v-0eda3817] {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: mobile_navigation_background-data-v-0eda3817 .3s ease-in-out forwards;
    animation: mobile_navigation_background-data-v-0eda3817 .3s ease-in-out forwards;
    pointer-events: all
}

.navigation_wrap.open .navigation[data-v-0eda3817] {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.navigation_wrap .navigation[data-v-0eda3817] {
    display: block;
    position: fixed;
    z-index: 1010;
    top: 0;
    right: -79.4%;
    bottom: 0;
    width: 79.4%;
    background-color: #fff;
    padding-top: 60px;
    overflow-y: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.navigation_wrap .navigation_inner[data-v-0eda3817] {
    position: relative;
    padding-bottom: 55px;
    min-height: 100%
}

.navigation_wrap .nav_list .nav_item[data-v-0eda3817] {
    border-bottom: 1px solid #ebebeb
}

.navigation_wrap .nav_list .nav_item[data-v-0eda3817]:last-child {
    border-bottom: 0
}

.navigation_wrap .nav_list .nav_link[data-v-0eda3817] {
    display: block;
    padding: 19px 20px 18px;
    height: 100%;
    font-size: 15px;
    letter-spacing: -.15px;
    font-weight: 700
}

.navigation_wrap .nav_login .login_list[data-v-0eda3817] {
    padding: 17px 10px 10px 0;
    font-size: 0
}

.navigation_wrap .nav_login .item[data-v-0eda3817] {
    position: relative;
    display: inline-block;
    padding: 10px 21px
}

.navigation_wrap .nav_login .item+.item[data-v-0eda3817]:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 1px;
    height: 25px;
    background-color: #ebebeb
}

.navigation_wrap .nav_login .item .login_link[data-v-0eda3817] {
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 20px;
    color: rgba(34, 34, 34, .8)
}

.navigation_wrap .nav_logout[data-v-0eda3817] {
    padding: 12px 0 0 20px
}

.navigation_wrap .nav_logout .text_mail[data-v-0eda3817] {
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34, 34, 34, .5)
}

.navigation_wrap .nav_logout .btn_logout[data-v-0eda3817] {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: -.21px;
    color: #f15746
}

.navigation_wrap .nav_logout~.nav_download[data-v-0eda3817] {
    margin-top: 53px
}

.navigation_wrap .nav_download[data-v-0eda3817] {
    margin-top: 30px;
    margin-left: 20px
}

.navigation_wrap .nav_download .download_txt[data-v-0eda3817] {
    font-size: 12px;
    color: rgba(34, 34, 34, .8)
}

.navigation_wrap .nav_download .btn_appdown[data-v-0eda3817] {
    margin-top: 12px
}

.navigation_wrap .nav_download .btn_appdown .btn[data-v-0eda3817] {
    padding: 0 11px;
    height: 40px;
    line-height: 38px
}

.navigation_wrap .btn_nav_close[data-v-0eda3817] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 11px;
    line-height: 0
}

@-webkit-keyframes mobile_navigation_background-data-v-0eda3817 {
    0% {
        background-color: transparent
    }

    to {
        background-color: rgba(34, 34, 34, .5)
    }
}

@keyframes mobile_navigation_background-data-v-0eda3817 {
    0% {
        background-color: transparent
    }

    to {
        background-color: rgba(34, 34, 34, .5)
    }
}

@-webkit-keyframes mobile_navigation_background_off-data-v-0eda3817 {
    0% {
        background-color: rgba(34, 34, 34, .5)
    }

    to {
        background-color: transparent
    }
}

@keyframes mobile_navigation_background_off-data-v-0eda3817 {
    0% {
        background-color: rgba(34, 34, 34, .5)
    }

    to {
        background-color: transparent
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff
}

.header.lg[data-v-147586e1],
.header.md[data-v-147586e1] {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    min-height: 100px
}

.header.no_line[data-v-147586e1] {
    -webkit-box-shadow: 0 0 0 0 transparent !important;
    box-shadow: 0 0 0 0 transparent !important
}

.header.is_scroll[data-v-147586e1] {
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1)
}

.notice+.header[data-v-147586e1] {
    top: 32px
}

.header .header_top[data-v-147586e1] {
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1)
}

.header .top_inner[data-v-147586e1] {
    display: -webkit-box;
    display: flex;
    padding: 8px 40px
}

.header .top_list[data-v-147586e1] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto
}

.header .top_item+.top_item[data-v-147586e1] {
    margin-left: 24px
}

.header .top_link[data-v-147586e1] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34, 34, 34, .8)
}

.header .top_link [class*=ico-][data-v-147586e1] {
    margin-right: 4px;
    width: 16px;
    height: 16px
}

.header .main_inner[data-v-147586e1] {
    display: -webkit-box;
    display: flex;
    padding: 0 40px;
    height: 68px;
    min-width: 320px;
    -webkit-box-align: center;
    align-items: center
}

.header .logo[data-v-147586e1] {
    display: -webkit-box;
    display: flex;
    width: 120px;
    height: 24px
}

.header .logo>.logo-kream[data-v-147586e1] {
    width: 100%
}

.header .gnb_area[data-v-147586e1] {
    margin-left: auto
}

.header .gnb_area[data-v-147586e1],
.header .gnb_list[data-v-147586e1] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.header .gnb_item[data-v-147586e1] {
    margin-right: 40px
}

.header .gnb_item.gnb_on .gnb_link[data-v-147586e1] {
    font-weight: 700
}

.header .gnb_item.gnb_on .gnb_link[data-v-147586e1]:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    background-color: #222;
    height: 2px
}

.header .gnb_link[data-v-147586e1] {
    position: relative;
    font-size: 15px;
    letter-spacing: -.15px
}

.header .gnb_link[data-v-147586e1],
.header .search_btn_box[data-v-147586e1] {
    display: -webkit-box;
    display: flex
}

.header .btn_search[data-v-147586e1] {
    display: inherit;
    border: none !important
}

.header .nav-search[data-v-147586e1] {
    width: 28px;
    height: 28px
}

.header .nav_btn_box[data-v-147586e1] {
    display: none
}

.header.mo[data-v-147586e1],
.header.sm[data-v-147586e1] {
    top: 0
}

.show_banner .header.mo[data-v-147586e1],
.show_banner .header.sm[data-v-147586e1] {
    top: 70px
}

.header.mo .main_inner[data-v-147586e1],
.header.sm .main_inner[data-v-147586e1] {
    height: 60px;
    padding: 0 24px
}

.header.mo .logo[data-v-147586e1],
.header.sm .logo[data-v-147586e1] {
    width: 100px;
    height: 20px
}

.header.mo .gnb_area[data-v-147586e1],
.header.sm .gnb_area[data-v-147586e1] {
    /* display: none */
}

.header.mo .nav_btn_box[data-v-147586e1],
.header.sm .nav_btn_box[data-v-147586e1] {
    display: -webkit-box;
    display: flex;
    margin-left: auto;
    height: 24px
}

.header.mo .nav_btn_box [class^=btn_]+[class^=btn_][data-v-147586e1],
.header.sm .nav_btn_box [class^=btn_]+[class^=btn_][data-v-147586e1] {
    margin-left: 20px
}

.header.mo .search_area[data-v-147586e1],
.header.sm .search_area[data-v-147586e1] {
    width: auto;
    margin: 0 16px 0 18px
}

.header.sm .main_inner[data-v-147586e1] {
    padding-left: 16px;
    padding-right: 16px
}

.wrap.disable .header[data-v-147586e1] {
    top: 36px
}