.notice[data-v-119cc752] {
    background-color: #111;
    text-align: center;
    z-index: 1000
}

.notice .inner[data-v-119cc752] {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px
}

.notice_title[data-v-119cc752] {
    display: inline-block;
    padding: 8px 5px;
    color: #fff;
    font-size: 12px;
    letter-spacing: -.06px
}

.notice.mo .inner[data-v-119cc752] {
    padding: 0 24px
}

.notice.sm .inner[data-v-119cc752] {
    padding: 0 16px
}

.banner[data-v-1e3b1102] {
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    max-height: 480px
}

.banner .banner_item[data-v-1e3b1102] {
    position: relative
}

.banner .banner_item[data-v-1e3b1102]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent
}

.banner .item_inner[data-v-1e3b1102] {
    margin: 0 auto;
    width: 45vw;
    max-height: 480px
}

.banner .img_box[data-v-1e3b1102] {
    position: relative;
    padding-top: 100%
}

.banner .banner_img[data-v-1e3b1102] {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-height: 480px
}

.banner .banner_img.banner_have_title[data-v-1e3b1102] {
    -webkit-transform: translateX(-42%) translateY(-10%) rotate(25deg) !important;
    transform: translateX(-42%) translateY(-10%) rotate(25deg) !important;
    -webkit-filter: drop-shadow(15px 25px 7px rgba(0, 0, 0, .1));
    filter: drop-shadow(15px 25px 7px rgba(0, 0, 0, .1))
}

.banner .title_box[data-v-1e3b1102] {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 500px
}

.banner .title[data-v-1e3b1102] {
    font-size: 32px;
    letter-spacing: -.16px;
    font-weight: 700;
    color: #fff
}

.banner .sub_title[data-v-1e3b1102] {
    margin-top: 5px;
    letter-spacing: -.15px;
    color: hsla(0, 0%, 100%, .8);
    font-size: 15px
}

.banner.mo .item_inner[data-v-1e3b1102],
.banner.sm .item_inner[data-v-1e3b1102] {
    width: 100%;
    height: auto
}

.banner.mo .title_box[data-v-1e3b1102],
.banner.sm .title_box[data-v-1e3b1102] {
    bottom: 39px;
    max-width: 300px
}

.banner.mo .title[data-v-1e3b1102],
.banner.sm .title[data-v-1e3b1102] {
    overflow: hidden;
    max-height: 56px;
    line-height: 28px;
    font-size: 24px
}

.banner.mo .sub_title[data-v-1e3b1102],
.banner.sm .sub_title[data-v-1e3b1102] {
    font-size: 12px;
    letter-spacing: -.06px;
    margin-top: 3px
}

.banner.sm .img_box[data-v-1e3b1102] {
    position: relative;
    padding-top: 0
}

.banner.sm .banner_img[data-v-1e3b1102] {
    position: unset;
    width: 100%;
    height: auto;
    max-height: 480px;
    -webkit-transform: unset;
    transform: unset
}

.wrap.disable .banner .title_box[data-v-1e3b1102] {
    left: auto;
    right: auto
}

.banner_slide[data-v-865bee5c] {
    overflow: hidden;
    position: relative;
    max-height: 480px
}

.product_title[data-v-b71614ae] {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px
}

.product_title .title[data-v-b71614ae] {
    font-size: 20px;
    letter-spacing: -.1px;
    font-weight: 700;
    color: #000
}

.product_title .sub_title[data-v-b71614ae] {
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34, 34, 34, .5)
}

.product_title.mo[data-v-b71614ae],
.product_title.sm[data-v-b71614ae] {
    padding: 0 24px
}

.product_title.mo .title[data-v-b71614ae],
.product_title.sm .title[data-v-b71614ae] {
    font-size: 18px
}

.product_title.sm[data-v-b71614ae] {
    padding: 0 16px
}

.product[data-v-09fbcf09] {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
    border-radius: 8px
}

.product[data-v-09fbcf09]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent
}

.stock_list .stock_list_item .product[data-v-09fbcf09] {
    border-radius: 10px
}

.product.is_flat[data-v-09fbcf09] {
    border-radius: 0 !important
}

.product_img[data-v-09fbcf09] {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.detail_stock .product_img[data-v-09fbcf09],
.is_exclusive .product_img[data-v-09fbcf09],
.lucky_draw_column .product_img[data-v-09fbcf09],
.other_stock .product_img[data-v-09fbcf09],
.product_img[data-v-09fbcf09],
.stock .product_img[data-v-09fbcf09] {
    width: 100%;
    height: auto
}

.buy_complete .product[data-v-09fbcf09] {
    border-radius: 10px;
    padding-top: 0;
    width: 156px;
    height: 156px;
    margin: 20px auto
}

.buy_complete .product_img[data-v-09fbcf09] {
    width: 156px;
    height: 156px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 10px
}

.status_value[data-v-09fbcf09] {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    line-height: 20px
}

.status_value.premium_same[data-v-09fbcf09] {
    color: rgba(34, 34, 34, .5);
    font-weight: 700
}

.status_value.premium_up[data-v-09fbcf09] {
    color: #f15746;
    font-weight: 700
}

.status_value.premium_down[data-v-09fbcf09] {
    color: #31b46e;
    font-weight: 700
}

.status_value.sale[data-v-09fbcf09] {
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34, 34, 34, .8)
}

.product_date[data-v-09fbcf09] {
    position: absolute;
    top: 16px;
    left: 16px;
    min-width: 30px;
    text-align: center
}

.product_date .month[data-v-09fbcf09] {
    line-height: 19px;
    padding-bottom: 2px;
    font-size: 16px;
    letter-spacing: -.16px;
    letter-spacing: -.05px;
    border-bottom: 2px solid #222
}

.product_date .month em[data-v-09fbcf09] {
    display: inline-block;
    vertical-align: top;
    letter-spacing: -.07px
}

.product_date .day[data-v-09fbcf09] {
    padding-top: 2px;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: -.3px;
    font-weight: 700;
    letter-spacing: -.5px
}

.buy_before .buy_product .product[data-v-09fbcf09],
.inventory_item_product .product[data-v-09fbcf09],
.layer_market_price .buy_product .product[data-v-09fbcf09],
.sell_before .buy_product .product[data-v-09fbcf09] {
    padding-top: 0;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px
}

.buy_before .buy_product .product_img[data-v-09fbcf09],
.inventory_item_product .product_img[data-v-09fbcf09],
.layer_market_price .buy_product .product_img[data-v-09fbcf09],
.sell_before .buy_product .product_img[data-v-09fbcf09] {
    width: 100%
}

.stocked_status_mark[data-v-09fbcf09] {
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 13px;
    padding: 1px 4px 2px 3px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: rgba(34, 34, 34, .8);
    background-color: #fff;
    border-radius: 14px;
    border: 1px solid rgba(34, 34, 34, .2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.mo .stocked_status_mark[data-v-09fbcf09],
.sm .stocked_status_mark[data-v-09fbcf09] {
    top: 8px;
    left: 8px
}

.for_adult_product_mark[data-v-09fbcf09] {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px
}

.layer_market_price .buy_product .product[data-v-09fbcf09] {
    width: 80px;
    height: 80px
}

@media(max-width:768px) {
    .status_value[data-v-09fbcf09] {
        top: 6px
    }

    .status_value.premium_down[data-v-09fbcf09],
    .status_value.premium_same[data-v-09fbcf09],
    .status_value.premium_up[data-v-09fbcf09],
    .status_value.sale[data-v-09fbcf09],
    .status_value[data-v-09fbcf09] {
        font-size: 11px
    }

    .product_img[data-v-09fbcf09] {
        width: 100%
    }
}

.picture[data-v-321fc3b6] {
    display: -webkit-box;
    display: flex
}

.image[data-v-321fc3b6] {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    image-rendering: auto
}

.btn_wish[data-v-1e64e6de] {
    display: -webkit-box;
    display: flex;
    height: inherit
}

.product_item .btn_wish[data-v-1e64e6de] {
    position: absolute;
    display: -webkit-inline-box;
    display: inline-flex;
    bottom: 3px;
    right: 3px;
    padding: 5px;
    z-index: 1
}

.product_item[data-v-a6a1a7c0] {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    padding: 0 12px;
    width: 25%
}

.product_item .item_inner[data-v-a6a1a7c0] {
    display: block;
    background-color: #fff;
    border-radius: 12px
}

.product_item .info_box[data-v-a6a1a7c0] {
    padding-top: 9px
}

.product_item .name[data-v-a6a1a7c0] {
    line-height: 17px;
    margin-top: 8.5px;
    max-height: 34px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 14px;
    color: #222
}

.aos .product_item .name[data-v-a6a1a7c0],
.win_os .product_item .name[data-v-a6a1a7c0] {
    max-height: 44px;
    margin-bottom: 2px
}

.product_item .badge[data-v-a6a1a7c0] {
    margin-top: 4px
}

.product_item .price[data-v-a6a1a7c0] {
    padding-top: 7px
}

.product_item .amount[data-v-a6a1a7c0] {
    font-size: 0;
    line-height: 0
}

.product_item .discount_rate[data-v-a6a1a7c0],
.product_item .num[data-v-a6a1a7c0],
.product_item .won[data-v-a6a1a7c0] {
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
    font-size: 15px;
    letter-spacing: -.15px;
    font-weight: 700;
    letter-spacing: -.04px
}

.product_item .discount_rate[data-v-a6a1a7c0] {
    color: #f15746;
    margin-right: 2px
}

.product_item .desc[data-v-a6a1a7c0] {
    line-height: 13px;
    font-size: 11px;
    color: rgba(34, 34, 34, .5)
}

.product_item .ico-brand-official[data-v-a6a1a7c0] {
    width: 12px;
    height: 12px;
    margin-left: 2px
}

.product_list_wrap[data-v-05239fed] {
    max-width: 1280px;
    margin: 0 auto;
    overflow-anchor: none
}

.product_list_wrap .product_list[data-v-05239fed] {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0 28px;
    width: 100%
}

.product_list_wrap .product_list[data-v-05239fed]:after {
    content: "";
    display: block;
    clear: both
}

.product_list_wrap .product_list[data-v-05239fed] ::-webkit-scrollbar {
    width: 0;
    background: transparent
}

.product_list_wrap .product_item[data-v-05239fed]:nth-child(4n+1) {
    clear: left
}

.product_list_wrap .btn_product[data-v-05239fed] {
    padding: 0 32px;
    text-align: center
}

.product_list_wrap .btn_product .btn[data-v-05239fed] {
    padding: 0 30px;
    margin-top: 20px
}

.product_list_wrap.mo[data-v-05239fed],
.product_list_wrap.sm[data-v-05239fed] {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.product_list_wrap.mo[data-v-05239fed]::-webkit-scrollbar,
.product_list_wrap.sm[data-v-05239fed]::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent
}

.product_list_wrap.mo .product_list[data-v-05239fed],
.product_list_wrap.sm .product_list[data-v-05239fed] {
    display: inline-block;
    padding: 0 16px;
    width: auto
}

.product_list_wrap.mo .btn_product[data-v-05239fed],
.product_list_wrap.sm .btn_product[data-v-05239fed] {
    display: none
}

.product_list_wrap.mo .product_item[data-v-05239fed],
.product_list_wrap.sm .product_item[data-v-05239fed] {
    float: none;
    vertical-align: top;
    margin: 15px 0 0;
    display: inline-block;
    padding: 0 8px;
    width: 216px
}

.product_list_wrap.sm .product_list[data-v-05239fed] {
    padding: 0 8px
}

.card_link[data-v-1f47ba04] {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 9px;
    padding-top: 121.186%;
    border-radius: 10px;
    outline-width: 0;
    outline: none
}

.card_link[data-v-1f47ba04]:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), color-stop(30%, transparent));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), transparent 30%);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent 30%);
    border-radius: inherit;
    border: 1px solid #ebebeb
}

.img_card[data-v-1f47ba04] {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 100%
}

.profile_img_box[data-v-1f47ba04] {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    z-index: 10
}

.profile_img_box[data-v-1f47ba04]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #fff;
    border-radius: inherit
}

.img_profile[data-v-1f47ba04] {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -o-object-fit: cover;
    object-fit: cover
}

.user_name[data-v-1f47ba04] {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 12px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #fff;
    z-index: 10
}

.mo .style_card[data-v-1f47ba04],
.sm .style_card[data-v-1f47ba04] {
    display: inline-block
}

.mo .card_link[data-v-1f47ba04],
.sm .card_link[data-v-1f47ba04] {
    margin: 0 4px;
    width: 132px;
    padding-top: 125.72%
}

.mo .img_card[data-v-1f47ba04],
.sm .img_card[data-v-1f47ba04] {
    min-width: 100%
}

.social_style_slide[data-v-094f0e0e] {
    margin: 0 auto;
    padding: 30px 0 60px;
    max-width: 1280px
}

.social_style_slide[data-v-094f0e0e] .slick-slider {
    position: relative
}

.social_style_slide[data-v-094f0e0e] .slick-list {
    overflow: hidden
}

.social_style_slide[data-v-094f0e0e] .slick-track:after {
    content: "";
    display: block;
    clear: both
}

.social_style_slide[data-v-094f0e0e] .slick-slide {
    float: left
}

.social_style_slide[data-v-094f0e0e] .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    height: 100px;
    font-size: 0;
    color: transparent;
    cursor: pointer
}

.social_style_slide[data-v-094f0e0e] .slick-arrow.slick-prev {
    left: -31px;
    z-index: 1;
    background: url(/_nuxt/img/arr-left-circle-big.7c37625.svg) no-repeat
}

.social_style_slide[data-v-094f0e0e] .slick-arrow.slick-next {
    right: -30px;
    z-index: 1;
    background: url(/_nuxt/img/arr-right-circle-big.9802494.svg) no-repeat
}

.social_style_slide[data-v-094f0e0e] .custom-arrow {
    display: none
}

.social_style_slide[data-v-094f0e0e] .style_slide:hover .custom-arrow {
    display: block
}

.style_title[data-v-094f0e0e] {
    padding: 0 40px 20px;
    font-size: 24px;
    letter-spacing: -.12px;
    font-weight: 700;
    color: #000
}

.style_sub_title[data-v-094f0e0e] {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -.01em;
    color: rgba(34, 34, 34, .5)
}

.style_slide[data-v-094f0e0e] {
    margin: 0 -9px;
    padding: 0 40px
}

.mo .social_style_slide[data-v-094f0e0e],
.sm .social_style_slide[data-v-094f0e0e] {
    padding-bottom: 15px;
    border-top: 1px solid #ebebeb
}

.mo .style_title[data-v-094f0e0e],
.sm .style_title[data-v-094f0e0e] {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 20px;
    letter-spacing: -.1px;
    color: #222
}

.mo .style_list[data-v-094f0e0e],
.sm .style_list[data-v-094f0e0e] {
    margin: 0 -4px;
    padding: 0 24px 15px;
    overflow-x: auto;
    white-space: nowrap
}

.sm .style_list[data-v-094f0e0e],
.sm .style_title[data-v-094f0e0e] {
    padding-left: 16px;
    padding-right: 16px
}

.shortcut_item[data-v-17e55412] {
    text-align: center;
    display: inline-block;
    cursor: pointer
}

.shortcut_item_img_wrap[data-v-17e55412] {
    position: relative
}

.shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-17e55412] {
    overflow: hidden;
    height: 100%
}

.shortcut_item_img_wrap[data-v-17e55412]:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(34, 34, 34, .05)
}

.shortcut_item_title[data-v-17e55412] {
    font-size: 15px;
    letter-spacing: -.15px;
    color: #333;
    margin-top: 8px
}

.lg .shortcut_item_img_wrap[data-v-17e55412],
.md .shortcut_item_img_wrap[data-v-17e55412] {
    height: 100px
}

.lg .shortcut_item_img_wrap[data-v-17e55412],
.lg .shortcut_item_img_wrap[data-v-17e55412]:after,
.md .shortcut_item_img_wrap[data-v-17e55412],
.md .shortcut_item_img_wrap[data-v-17e55412]:after {
    border-radius: 10px
}

.lg .shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-17e55412],
.md .shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-17e55412] {
    border-radius: 9px
}

.mo .shortcut_item_img_wrap[data-v-17e55412],
.sm .shortcut_item_img_wrap[data-v-17e55412] {
    padding-top: 100%
}

.mo .shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-17e55412],
.sm .shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-17e55412] {
    position: absolute;
    top: 0;
    left: 0
}

.mo .shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-17e55412],
.mo .shortcut_item_img_wrap[data-v-17e55412],
.mo .shortcut_item_img_wrap[data-v-17e55412]:after,
.sm .shortcut_item_img_wrap>.shortcut_item_img_bg[data-v-17e55412],
.sm .shortcut_item_img_wrap[data-v-17e55412],
.sm .shortcut_item_img_wrap[data-v-17e55412]:after {
    border-radius: 50%
}

.mo .shortcut_item_title[data-v-17e55412],
.sm .shortcut_item_title[data-v-17e55412] {
    width: 100%;
    font-size: 12px;
    letter-spacing: -.06px;
    display: -webkit-box;
    letter-spacing: -.7px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-top: 4px;
    word-wrap: break-word
}

.shortcut_items_wrap[data-v-281f2319] {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-row-gap: 16px;
    row-gap: 16px;
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px
}

.lg .shortcut_items_wrap[data-v-281f2319] {
    padding-left: 40px;
    padding-right: 40px;
    grid-column-gap: 16px;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px
}

.product_title+.shortcut_items_wrap[data-v-281f2319] {
    margin-top: 20px
}

.list_loading[data-v-538d2574] {
    padding: 120px 0;
    text-align: center
}

.mo .list_loading[data-v-538d2574],
.sm .list_loading[data-v-538d2574] {
    padding-top: 0
}

.loading_img[data-v-538d2574] {
    display: inline-block;
    width: 80px;
    height: 80px
}

.home[data-v-2e68e8ca] div:last-child.home_products {
    padding-bottom: 100px
}

.home[data-v-2e68e8ca].mo div:last-child.home_products,
.home[data-v-2e68e8ca].sm div:last-child.home_products {
    padding-bottom: 40px
}

.banner_slide[data-v-2e68e8ca] .slick-slide {
    float: left
}

.banner_slide[data-v-2e68e8ca] .slick-arrow {
    position: absolute;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    width: 80px;
    height: 80px;
    font-size: 0;
    color: transparent;
    cursor: pointer
}

.banner_slide[data-v-2e68e8ca] .slick-arrow.slick-prev {
    left: 0;
    z-index: 1;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTUwIDYwTDMwIDQwbDIwLTIwIi8+PC9zdmc+) no-repeat
}

.banner_slide[data-v-2e68e8ca] .slick-arrow.slick-next {
    right: 0;
    z-index: 1;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTMwIDIwbDIwIDIwLTIwIDIwIi8+PC9zdmc+) no-repeat
}

.banner_slide[data-v-2e68e8ca] .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center
}

.banner_slide[data-v-2e68e8ca] .slick-dots>li {
    display: inline-block;
    vertical-align: top
}

.banner_slide[data-v-2e68e8ca] .slick-dots>li+li {
    margin-left: 8px
}

.banner_slide[data-v-2e68e8ca] .slick-dots>li>button {
    width: 32px;
    height: 12px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    cursor: pointer
}

.banner_slide[data-v-2e68e8ca] .slick-dots>li>button:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: hsla(0, 0%, 100%, .3)
}

.banner_slide[data-v-2e68e8ca] .slick-dots .slick-active button:before {
    background-color: #fff
}

.home_card_list[data-v-2e68e8ca] {
    padding-bottom: 160px
}

.banner[data-v-2e68e8ca],
.home_products[data-v-2e68e8ca],
.shortcut_collection[data-v-2e68e8ca],
.social_style_slide[data-v-2e68e8ca] {
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 0
}

.banner+.home_products[data-v-2e68e8ca] {
    margin-top: 30px
}

@media(min-width:769px) {
    .banner_slide[data-v-2e68e8ca] .slick-dots>li+li {
        margin-left: 12px
    }

    .banner_slide[data-v-2e68e8ca] .slick-dots>li>button {
        width: 8px;
        height: 8px
    }

    .banner_slide[data-v-2e68e8ca] .slick-dots>li>button:before {
        width: 100%;
        height: 100%;
        border-radius: 8px
    }

    .banner_slide_light[data-v-2e68e8ca] .slick-dots>li>button:before {
        background-color: #000;
        opacity: .3
    }

    .banner_slide_light[data-v-2e68e8ca] .slick-dots .slick-active button:before {
        background-color: #000;
        opacity: 1
    }

    .banner_slide_light[data-v-2e68e8ca] .slick-arrow.slick-prev {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+PHBhdGggc3Ryb2tlPSIjQkJCIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTUwIDYwTDMwIDQwbDIwLTIwIi8+PC9zdmc+) no-repeat
    }

    .banner_slide_light[data-v-2e68e8ca] .slick-arrow.slick-next {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+PHBhdGggc3Ryb2tlPSIjQkJCIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTMwIDIwbDIwIDIwLTIwIDIwIi8+PC9zdmc+) no-repeat
    }
}

@media(max-width:768px) {
    .banner_slide[data-v-2e68e8ca] .slick-dots {
        bottom: 7px;
        left: 16px;
        right: 16px;
        display: -webkit-box !important;
        display: flex !important
    }

    .banner_slide[data-v-2e68e8ca] .slick-dots>li {
        -webkit-box-flex: 1;
        flex: 1
    }

    .banner_slide[data-v-2e68e8ca] .slick-dots>li+li {
        margin-left: 0
    }

    .banner_slide[data-v-2e68e8ca] .slick-dots>li>button {
        width: 100%
    }
}

.mo .home_card_list[data-v-2e68e8ca],
.sm .home_card_list[data-v-2e68e8ca] {
    padding-bottom: 30px
}

.mo .banner[data-v-2e68e8ca],
.mo .home_products[data-v-2e68e8ca],
.mo .shortcut_collection[data-v-2e68e8ca],
.mo .social_style_slide[data-v-2e68e8ca],
.sm .banner[data-v-2e68e8ca],
.sm .home_products[data-v-2e68e8ca],
.sm .shortcut_collection[data-v-2e68e8ca],
.sm .social_style_slide[data-v-2e68e8ca] {
    margin-top: 30px;
    padding-top: 0;
    padding-bottom: 0
}

.mo .home_products[data-v-2e68e8ca],
.mo .shortcut_collection[data-v-2e68e8ca],
.mo .social_style_slide[data-v-2e68e8ca],
.sm .home_products[data-v-2e68e8ca],
.sm .shortcut_collection[data-v-2e68e8ca],
.sm .social_style_slide[data-v-2e68e8ca] {
    padding-top: 30px;
    border-top: 1px solid #ebebeb
}

.mo .banner+.home_products[data-v-2e68e8ca],
.mo .banner+.shortcut_collection[data-v-2e68e8ca],
.mo .banner+.social_style_slide[data-v-2e68e8ca],
.sm .banner+.home_products[data-v-2e68e8ca],
.sm .banner+.shortcut_collection[data-v-2e68e8ca],
.sm .banner+.social_style_slide[data-v-2e68e8ca] {
    padding-top: 0;
    margin-top: 20px;
    border-top: none
}

.mo .banner_slide+.home_products[data-v-2e68e8ca],
.mo .banner_slide+.shortcut_collection[data-v-2e68e8ca],
.mo .banner_slide+.social_style_slide[data-v-2e68e8ca],
.sm .banner_slide+.home_products[data-v-2e68e8ca],
.sm .banner_slide+.shortcut_collection[data-v-2e68e8ca],
.sm .banner_slide+.social_style_slide[data-v-2e68e8ca] {
    margin-top: 0
}

.banner_bottom[data-v-11ddc032] {
    display: -webkit-box;
    display: flex
}

.banner_bottom .banner_box[data-v-11ddc032] {
    position: relative;
    padding: 36px 32px 0;
    width: 100%;
    height: 200px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 350px 200px
}

.banner_bottom .banner_box[data-v-11ddc032]:first-child {
    background-color: #565656;
    background-image: url(/_nuxt/img/home_banner_bottom1.79549cb.png)
}

.banner_bottom .banner_box[data-v-11ddc032]:nth-child(2) {
    background-color: #3b3a3c;
    background-image: url(/_nuxt/img/home_banner_bottom2.0077547.png)
}

.banner_bottom .banner_info[data-v-11ddc032] {
    max-width: 300px;
    color: #fff
}

.banner_bottom .info_subtitle[data-v-11ddc032] {
    font-size: 12px;
    text-transform: uppercase
}

.banner_bottom .info_title[data-v-11ddc032] {
    padding-top: 12px;
    text-shadow: -1px 0 #565656, 0 1px #565656, 1px 0 #565656, 0 -1px #565656;
    font-size: 16px;
    letter-spacing: -.16px
}

.banner_bottom .info_txt[data-v-11ddc032] {
    margin-top: 16px;
    padding: 0 7px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: -.06px;
    height: 29px;
    line-height: 27px;
    border-radius: 6px;
    border: 1px solid hsla(0, 0%, 100%, .8);
    color: #fff
}

.banner_bottom.mo[data-v-11ddc032],
.banner_bottom.sm[data-v-11ddc032] {
    display: block
}

.banner_bottom.mo .banner_box[data-v-11ddc032],
.banner_bottom.sm .banner_box[data-v-11ddc032] {
    padding: 29px 21px 0;
    display: block;
    background-position: calc(100% + 61px) 0
}

.banner_bottom.mo .info_title[data-v-11ddc032],
.banner_bottom.sm .info_title[data-v-11ddc032] {
    padding-top: 37px
}

.container.detail .banner_bottom[data-v-11ddc032] {
    margin-top: 80px
}

.download_banner[data-v-1b035e08] {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    z-index: 100
}

.show_banner .download_banner[data-v-1b035e08] {
    display: block
}

.download_banner .banner_box[data-v-1b035e08] {
    padding: 0 24px;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.download_banner .thumb[data-v-1b035e08] {
    margin-top: 2px;
    margin-right: 8px
}

.download_banner .logo-app[data-v-1b035e08] {
    width: 40px;
    height: 40px
}

.download_banner .banner_info[data-v-1b035e08] {
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34, 34, 34, .8)
}

.download_banner .banner_info .btn_appdown[data-v-1b035e08] {
    text-decoration: underline
}

.download_banner .btn_close[data-v-1b035e08] {
    margin-top: 2px;
    margin-left: auto
}

.download_banner .btn_close .ico-nav-close[data-v-1b035e08] {
    width: 18px;
    height: 18px
}

.download_banner.sm .banner_box[data-v-1b035e08] {
    padding-left: 16px;
    padding-right: 16px
}

.btn_top[data-v-695163b8] {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 44px;
    height: 48px;
    padding-top: 4px;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    z-index: 999
}

.btn_top.mo[data-v-695163b8],
.btn_top.sm[data-v-695163b8] {
    right: 20px;
    bottom: 20px
}

.container[data-v-430ce8e5] {
    overflow: hidden;
    position: relative
}

.show_banner .container[data-v-430ce8e5] {
    padding-top: 60px
}

.container .home_list[data-v-430ce8e5] {
    position: relative
}