<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="navbar">


  <div class="left-side-bar">
    <div class="brand-logo">
      <a href="/index">
        <img src="/vendors/images/adminlogo.png" alt="" class="dark-logo" />
        <img
                src="/vendors/images/deskapp-logo-white.svg"
                alt=""
                class="light-logo"
        />
      </a>
      <div class="close-sidebar" data-toggle="left-sidebar-close">
        <i class="ion-close-round"></i>
      </div>
    </div>
    <!--왼쪽 나브바-->
    <div class="menu-block customscroll">
      <div class="sidebar-menu">
        <ul id="accordion-menu">

          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle">
								<span class="micon bi">
									<i class="icon-copy fa fa-shopping-bag" aria-hidden="true"></i>
								</span>
              <span class="mtext">order</span>
            </a>
            <ul class="submenu">
                <li><a href="/admin/buy">구매내역</a></li>
                <li><a href="/admin/sell">판매내역</a></li>
                <li><a href="/admin/conclusion">체결내역</a></li>
                <li><a href="/admin/statusedit">진행상황</a></li>
            </ul>
          </li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle">
								<span class="micon bi">
									<i class="icon-copy fa fa-users" aria-hidden="true"></i>
								</span>
                    <span class="mtext">users</span>
                </a>
                <ul class="submenu">
                    <li><a href="/admin/users">사용자 리스트</a></li>
                    <li><a href="/admin/users/point">포인트 리스트</a></li>
                    <li><a href="#">패널티 리스트</a></li>
<!--                    <li><a href="#">정지/영구정지</a></li>-->
                </ul>
            </li>
<!--          <li>-->
<!--            <a href="/admin/brands" class="dropdown-toggle no-arrow">-->
<!--								<span class="micon bi">-->
<!--									<i class="icon-copy fi-crown"></i>-->
<!--								</span>-->
<!--              <span class="mtext"> brand </span>-->
<!--            </a>-->
<!--          </li>-->
          <li>
            <a href="/admin/products" class="dropdown-toggle no-arrow">
								<span class="micon bi">
									<i class="icon-copy fi-price-tag"></i>
								</span>
              <span class="mtext"> product </span>
            </a>
          </li>


          <li>
            <a href="/admin/event" class="dropdown-toggle no-arrow">
								<span class="micon bi">
									<i class="icon-copy bi bi-gift"></i>
								</span>
              <span class="mtext"> event </span>
            </a>
          </li>
          <li>
            <a href="/admin/notice" class="dropdown-toggle no-arrow">
								<span class="micon bi">
									<i class="icon-copy fi-megaphone"></i>
								</span>
              <span class="mtext"> notice </span>
            </a>
          </li>
          <li>
            <a href="/admin/style" class="dropdown-toggle no-arrow">
								<span class="micon bi">
									<i class="icon-copy fi-social-instagram"></i>
								</span>
              <span class="mtext"> style </span>
            </a>
          </li>
            <li>
                <a href="/admin/admin" class="dropdown-toggle no-arrow">
								<span class="micon bi">
                                    <i class="icon-copy fi-torso-business"></i>
								</span>
                    <span class="mtext"> Admin </span>
                </a>
            </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="mobile-menu-overlay"></div>
</div>
</html>