<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
    <link rel="stylesheet" href="/css/fragment/mypage_navbar.css">
<!--    <script defer src="/js/my/mypage_navbar.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--    <div class="container my lg">-->
    <!-- nav -->
    <html xmlns:th="http://www.thymeleaf.org">

        
        <div class="snb_area"th:fragment="nav"><a href="/my" class="nuxt-link-active">
                <h2 class="snb_main_title">마이 페이지</h2>
            </a>
            <nav class="snb">
                <div class="snb_list"><strong class="snb_title">쇼핑 정보</strong>
                    <ul class="snb_menu">
                        <li class="menu_item"><a name="buying" href="/my/buying" class="menu_link">구매 내역 </a></li>
                        <li class="menu_item"><a name="selling" href="/my/selling" class="menu_link">판매 내역 </a></li>
                        <li class="menu_item"><a name="wish" href="/my/wish" class="menu_link">관심상품 </a></li>
                    </ul>
                </div>
                <div class="snb_list"><strong class="snb_title">내 정보</strong>
                    <ul class="snb_menu">
                        <li class="menu_item"><a name="profile" href="/my/profile" class="menu_link"> 프로필 정보 </a></li>
                        <li class="menu_item"><a name="address" href="/my/address" class="menu_link">주소록 </a></li>
                        <li class="menu_item"><a name="payment" href="/my/payment" class="menu_link">결제 정보 </a></li>
                        <li class="menu_item"><a name="account" href="/my/account" class="menu_link">판매 정산 계좌 </a></li>
                        <li class="menu_item"><a name="receipt" href="/my/receipt" class="menu_link">현금영수증 정보 </a></li>
                        <li class="menu_item"><a name="point" href="/my/point" class="menu_link">포인트 </a></li>
                    </ul>
                </div>        
        </nav>
        </div>
        <!-- container -->

        <!-- container -->





    <!-- container -->
    <!-- nav -->
<!--</body>-->

<!--</html>-->