<!--<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"-->
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!--<header th:fragment="head">-->
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/fragment/mypage_header.css">
  <div >
    <div class="social header lg no_line">
      <div class="header_top">
        <div class="top_inner">
          <ul class="top_list">
            <li class="top_item">
              <a href="/notice" class="top_link"> 고객센터 </a>
            </li>
            <li class="top_item">
              <a href="/my/wish" class="top_link"> 관심상품 </a>
            </li>
            <li class="top_item">
              <a href="/my" class="top_link"> 마이페이지 </a>
            </li>
            <li class="top_item" style="display: none;">
              <a href="/login" class="top_link"> 로그인 </a>
            </li>
            <!-- <li class="top_item">
              <a href="/" class="top_link"> 로그아웃 </a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="header_main">
        <div class="main_inner">
          <h1 >
            <a href="/" aria-label="홈" class="logo">
              <img src="/img/shoekream_logo.png" class="logo-kream icon sprite-icons">
            </a>
          </h1>
          <div class="gnb_area">
            <nav class="gnb">
              <ul class="gnb_list">
                <li class="gnb_item">
                  <a href="/social/trending" class="gnb_link"> STYLE </a>
                </li>
                <li class="gnb_item">
                  <a href="#" class="gnb_link"> SHOP </a>
                </li><li class="gnb_item">
                <a href="/about" target="_blank" class="gnb_link"> ABOUT </a>
              </li>
              </ul>
            </nav>
            <div class="search_btn_box">
              <a aria-label="검색" href="#" class="btn_search">
                <img src="/img/search.png" class="nav-search icon sprite-icons">
              </a>
            </div>
          </div>
          <div style="display: none;">
            <div class="search_area" value="">
              <div class="search">
                <img src="/img/search.png">
                <input type="text" placeholder="" title="검색창" class="input_search show_placeholder_on_focus">
                <button class="btn_search_delete" style="display: none;">
                </button>
              </div>
            </div>
          </div>
          <div class="nav_btn_box">
            <button type="button" aria-label="검색" class="btn_search">
            </button>
            <button type="button" aria-label="메뉴" class="btn_menu">
            </button>
          </div>
          <div style="display: none;">
            <div class="navigation_wrap">
              <div class="navigation">
                <div class="navigation_inner">
                  <ul class="nav_list">
                    <li class="nav_item">
                      <a href="#" class="nav_link"> STYLE </a>
                    </li>
                    <li class="nav_item">
                      <a href="#" class="nav_link"> SHOP </a>
                    </li>
                    <li class="nav_item">
                      <a href="#" class="nav_link"> 자주 묻는 질문 </a>
                    </li>
                    <li class="nav_item">
                      <a href="#" class="nav_link"> 공지사항 </a>
                    </li>
                    <li class="nav_item" style="display: none;">
                      <a href="#" class="nav_link"> 로그인 </a>
                    </li>
                    <li class="nav_item">
                      <a href="#" class="nav_link"> 마이 페이지 </a>
                    </li>
                  </ul>
                  <div class="nav_logout">
                    <button class="btn_logout">로그아웃</button>
                    <p class="text_mail"></p>
                  </div>
                  <div class="nav_download">
                    <p class="download_txt">KREAM 앱 설치 후 사용해 보세요!</p>
                    <div class="btn_appdown">
                      <a href="#" class="btn outline medium"> 앱 다운로드 </a>
                    </div>
                  </div>
                </div>
                <button type="button" aria-label="닫기" class="btn_nav_close">
                </button>
              </div>
            </div>
          </div>
          <!---->
        </div>
      </div>
    </div>
    
  </div>
</header>
</html>