<!DOCTYPE html>
<!--<html lang="en">-->
<!---->
<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
<!--위의 명시된 날짜 이후가 되면 페이지가 캐싱되지 않는다.(1990년 이후 쭉 )-->
<meta http-equiv="Expires" content="-1">
<!--캐시된 페이지가 만료되어 삭제되는 시간을 정의하나 특별한 경우가 아니면 -1로 설정-->
<meta http-equiv="Pragma" content="no-cache">
<!--페이지 로드시마다 페이지를 캐싱하지 않는다.(HTTP 1.0)-->
<meta http-equiv="Cache-Control" content="no-cache">
<!--페이지 로드시마다 페이지를 캐싱하지 않는다.(HTTP 1.1)-->
<!---->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<body>
<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header(${sessionInfo})"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- Simple Datatable start -->
            <div class="card-box mb-30" id="products_page">
                <div class="pd-20" id ="top" style="display: flex">
                    <h4 class="text-blue h4">상품 리스트</h4>
                    <button type="button" class="btn btn-primary m-t-15 waves-effect" onclick="productcreate_popup()">상품 추가</button>
                </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length" style="padding-bottom: 5px; padding-left: 20px;">
                                <div style="display: flex;">
                                    <i class="icon-copy bi bi-card-list"></i>
                                    <p th:text="'상품 ' + ${products.totalElements} + '개'" style="margin-left: 10px;"></p>
                                </div>
                                <div style="display: flex;">
                                    <i class="icon-copy bi bi-book"></i>
                                    <p th:text="'총 ' + ${products.totalPages} + '페이지 중 ' + ${(products.number)+1} + '페이지'" style="margin-left: 10px;"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter" style="text-align: right;padding-left: 15px; padding-right: 15px;">
                                <label style=" font-weight: normal; white-space: nowrap; text-align: left; display: flex; align-items: center; justify-content: flex-end;">search:
                                    <input id="search_box" type="search" class="form-control form-control-sm" aria-controls="DataTables_Table_0" style="margin-left: 0.5em; width: auto;">
                                </label>
                            </div>
                        </div>
                    </div>
                    <table class="data-table table nowrap">
                    <thead>
                        <tr>
                            <th class="table-plus datatable-nosort product_idx"><a>번호</a></th>
                            <th>상품사진</th>
                            <th class="product_brand"><a>브랜드</a></th>
                            <th class="product_name"><a>상품명</a></th>
                            <th class="product_modelNum"><a>모델번호</a></th>
                            <th class="product_releaseDate"><a>출시일</a></th>
                            <th>컬러</th>
                            <th class="product_firstPrice"><a>발매가</a></th>
                            <th class="datatable-nosort">Action</th>
                        </tr>
                    </thead>
                    <tbody id="itemList">
                        <tr>
                            <td class="table-plus td-idx">idx</td>
                            <td class="td-img"><img src="img" width="80" height="80" alt="" /></td>
                            <td class="td-brand">brand</td>
                            <td class="td-name"><h5 class="font-16">name</h5>nameKor</td>
                            <td class="td-modelNum">modelNum</td>
                            <td class="td-releaseDate">releaseDate</td>
                            <td class="td-color">color</td>
                            <td class="td-firstPrice">firstPrice</td>
                            <td class="more">
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item view_btn" onclick="productview_popup()"><i class="dw dw-eye"></i>View</a>
                                        <a class="dropdown-item edit_btn" onclick="productedit_popup()"><i class="dw dw-edit2"></i>Edit</a>
                                        <a class="dropdown-item" href="#" id="buylist_btn"
                                        ><i class="icon-copy bi bi-bag"></i> Buy List</a>
                                        <a class="dropdown-item" href="#" id="selllist_btn"
                                        ><i class="icon-copy bi bi-cash-coin"></i> Sell List</a>
                                        <a class="dropdown-item delete_btn" onclick="productdelete_popup()"><i class="dw dw-delete-3"></i>Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="col-sm-12 col-md-4"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite"></div></div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">
                                            <i class="ion-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">
                                            <i class="ion-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="adminpage/admin_layer/layer_product_create :: product_create"></div>
<div th:replace="adminpage/admin_layer/layer_product_view :: product_view"></div>
<div th:replace="adminpage/admin_layer/layer_product_edit :: product_edit"></div>
<div th:replace="adminpage/admin_layer/pop_product_delete :: product_delete"></div>
<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<script src="/js/products.js"></script>
</body>
</html>