/* 공통 부분 */
body, button, input, select, table, textarea {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
}

html { font-size : 62.5% }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, ins, small, strong, sub, sup, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, footer, header, nav, section, summary, time, mark { margin: 0; padding: 0; box-sizing: border-box; }

ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; -webkit-tap-highlight-color: rgba(0,0,0,.1); }

a:hover { cursor: pointer }

img, fieldset, a { border: none;}

img, video { border: 0; vertical-align: top; }

input, select, textarea, button, form, img, label { vertical-align: middle; }

input, textarea {
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
}

input[type=text], input[type=number], input[type=password], input[type=tel], input[type=email] {
    box-sizing: border-box;
    display: inline-block;
    line-height: normal; }

textarea { box-sizing: border-box; padding: .08rem; border: .1rem solid #ccc; font-size: 1.6rem; }

button {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    background-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.container { overflow: hidden; position: relative; }

.wrap { position:relative; padding-top:10rem; overflow-anchor:none }

.blind, .u_skip {
    overflow: hidden!important;
    position: absolute!important;
    clip: rect(0,0,0,0)!important;
    width: .1rem!important;
    height: .1rem!important;
    margin: -1rem!important;
}

.title { font-size: 1.5rem; }

.sub_title {
    font-size: 12px;
    letter-spacing: -.005em;
    color: rgba(34,34,34,.5);
}

.full {
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: -.1rem;
    font-weight: 700;
    height: 52px;
    line-height: 50px;
    border-radius: 12px;
    letter-spacing: .2px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
}

.btn {
    margin-top: 1.2rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.date { font-size: 1.4rem; }

.tab_item { display: table-cell; text-align: center; }

.tab_link { position: relative; display: block; padding-top: 1.8rem; height: 9.6rem;
}

/* 마이페이지 */

.container.my .content_area { overflow: hidden; }

.container.my { margin: 0 auto; padding: 4rem 4rem 16rem; max-width: 128rem; }

.container.my .snb_area { float: left; width: 16rem; margin-right: 4rem; }

.container.my .snb_main_title {
    padding-bottom: 2.5rem;
    font-size: 2.2rem;
    letter-spacing: -.048rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

.snb_title {
    margin-bottom: 1.2rem;
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: -.016rem;
}

.snb_list+.snb_list { margin-top: 3rem; }

.menu_item > .menu_link { font-size: 1.5rem; letter-spacing: -.015rem; color: rgba(34,34,34,.5); }

.menu_link {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: -.021rem;
    color: rgba(34,34,34,.5);
}

.menu_item+.menu_item { margin-top: .8rem; }

.menu_item+.menu_item { margin-top: 1.2rem; }

.menu_item.menu_on .menu_link {
    color: #222;
    font-weight: 700;
}

.user_detail, .user_membership { display: -webkit-box; display: -ms-flexbox; display: flex; }

.user_membership {
    padding: 2.3rem 0 2.3rem 2.4rem;
    border: 1px solid #ebebeb;
    border-radius: 1.2rem;
    background-color: #fff;
}

.user_thumb {
    margin-right: 1.2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.user_thumb .thumb_img { width: 100%; height: 100%; border-radius: 100%; }

.user_info, .user_info .name { display: -webkit-box; display: -ms-flexbox; display: flex; }

.user_info .name { font-size: 2rem; letter-spacing: -.01rem; font-weight: 700; color: #000; }

.user_info .email {
    font-size: 1.4rem;
    letter-spacing: -.021rem;
    letter-spacing: -.007rem;
    color: rgba(34,34,34,.5);
}

.small {
    padding: 0 14px;
    height: 34px;
    line-height: 32px;
    border-radius: 10px;
}

.small, .xsmall { font-size: 12px; }

.outlinegrey { border: 1px solid #d3d3d3; color: rgba(34,34,34,.8); }

.membership_detail {
    position: relative;
    margin-left: auto;
    display: table;
    table-layout: fixed;
    height: 10rem;
}

.membership_item { display: table-cell; width: 16rem; vertical-align: middle; text-align: center; }

.membership_detail:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    background-color: #ebebeb;
    width: 1px;
}

.membership_item.disabled { pointer-events: none; cursor: default; }

.membership_item .info { font-size: 1.6rem; letter-spacing: -.016rem;}

.membership_item .title { font-size: 1.3rem; letter-spacing: -.007rem; color: rgba(34,34,34,.5); }

.my_home_title {
    margin-top: 5.6rem;
    padding-bottom: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
}

.my_home_title .title { font-size: 1.8rem; letter-spacing: -.027rem; }

.purchase_list_tab {
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: #fafafa;
    border-radius: 1.2rem;
}

.my_home_title .btn_more {
    margin-top: .3rem;
    margin-left: auto;
    padding-top: .3rem;
    padding-left: .5rem;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.my_home_title .btn_txt { font-size: 1.3rem; letter-spacing: -.007rem; color: rgba(34,34,34,.5); }

.my_home_title .arr-right-gray { width: 2rem; height: 2rem; }

.purchase_list_tab {
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: #fafafa;
    border-radius: 1.2rem;
}

.tab_item:first-of-type .tab_link:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    width: .1rem;
    bottom: 1.8rem;
    background-color: #ebebeb;
}

.tab_link .title { font-size: 1.3rem; letter-spacing: -.007rem; color: rgba(34,34,34,.8); }

.tab_item.total .count { color: #f15746; }

.tab_link .count {
    margin-top: .2rem;
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: -.009rem;
    font-weight: 700;
}

.product { overflow: hidden; position: relative; padding-top: 100%; border-radius: 1.2rem; }

.purchase_item {
    padding: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.product:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0); }

.purchase_list .purchase_item { border-bottom: .1rem solid #ebebeb;}

.history_product { display: -webkit-box; display: -ms-flexbox; display: flex;}

.history_product .product_box {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 8rem;
    height: 8rem;
}

.product_detail {
    margin-left: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.name, .size { font-size: 14rem;}

.name {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.size {
    margin-top: .8rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    letter-spacing: -.021rem;
    font-weight: 700;
    color: rgba(34,34,34,.5);
}

.name, .size { font-size: 1.4rem; }

.history_status {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
}

.history_status .status_box:first-child { width: 14rem; }

.history_status .status_box { margin-left: 1rem; width: 13.4rem; }

.price { margin-top: .2rem; font-size: 0; }

.amount, .unit { display: inline-block; font-size: 1.4rem; }

.status_txt { display: block; font-size: 1.4rem; }

.all .status_box.field_status,
.ask.finished .status_box.field_date_paid,
.bid.finished .status_box.field_date_purchased,
.bidding .status_box.field_expires_at,
.bidding .status_box.field_price,
.finished .status_box.field_status,
.mo .all .history_product .date,
.mo .finished .history_product .date,
.pending .status_box.field_status,
.sm .all .history_product .date,
.sm .finished .history_product .date { display: block; }


.product_item {
    position: relative;
    float: left;
    margin: 2rem 0;
    padding: 0 1.2rem;
    width: 25%;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.interest_product .product_item {
    margin-top: .3rem;
    padding: 0 1rem;
}

.product_item .item_inner {
    display: block;
    background-color: #fff;
    border-radius: 12px;
}

.product {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
    border-radius: 12px;
}

.product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 81.5%;
    height: auto;
}
.product:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
}
.product_item .info_box { padding-top: 1.2rem; max-width: 24rem; }

.product_item .brand { height: 20px; }

.interest_product .name { height: 4.1rem; margin-bottom: .2rem; }

.product_item .price { padding-top: .8rem; }

.product_item .amount { height: 2rem; font-weight: 700; color: #222; }

.product_item .num, .product_item .won {
    display: inline-block;
    vertical-align: top;
    line-height: 2rem;
    font-size: 1.5rem;
}

.interest_product .num { font-size: 1.3rem; }

.interest_product .won { font-size: 1.2rem; }

.product_item .won { line-height: 2.1rem; font-size: 1.4rem; }

.product_item .desc {
    padding-top: .1rem;
    font-size: 1.1rem;
    color: rgba(34,34,34,.5);
}

.product_item .btn_wish {
    position: absolute;
    bottom: 8rem;
    right: .7rem;
    padding: .5rem;
    z-index: 1;
}

.other_products .product_item .btn_wish {
    bottom: 7.6rem;
    right: .5rem;
}

.empty_area { padding: 8.1rem 0 4.5rem; text-align: center; }

.empty_area.has_bg { background-color: #fafafa; }

.my .empty_area { padding: 8rem 0; }

.interest_product .empty_area { margin: 0 1rem; border-radius: 1.2rem; }

.interest_product .empty_area .desc { font-size: 1.4rem; letter-spacing: -.021rem; }

.empty_area .desc { font-size: 1.3rem; letter-spacing: -.007rem; color: rgba(34,34,34,.5); }

.my .empty_area .btn { margin-top: 1.2rem; }

.interest_product .empty_area .btn { background-color: #fafafa; }

.interest_product:after { content: ""; display: block; clear: both; }

.usable_wrap { padding: 1.9rem 3.2rem 3rem; }

.usable_point { padding-bottom: 3rem; }

.usable_point .title { font-size: 1.4rem; }

.point_box {
    padding: 1.8rem 0 .2rem;
    border-bottom: 2px solid #222;
    line-height: 3.6rem;
    font-size: 2.4rem;
}
.point_box .point { font-weight: 700; }
.point_box .unit { font-size: inherit;}
.point_info { padding-top: 1.3rem; font-size: 1.3rem; color: rgba(34,34,34,.8); }
.point_info .info_item+.info_item { margin-top: .8rem; color: rgba(34,34,34,.5); }

.usable_list {
    border-top: 1px solid #ebebeb;
    padding-top: 2rem;
}
.usable_item {
    position: relative;
    padding-left: 1.1rem;
    font-size: 1.2rem;
    color: rgba(34,34,34,.8);
}
.usable_item:before {
    content: "";
    position: absolute;
    top: .9rem;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background-color: #333;
    border-radius: 50%;
}
.usable_item+.usable_item { margin-top: .6rem; }

.purchase_list_display_item {
    padding: 12px;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.purchase_list_product .list_item_img_wrap .list_item_img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
}

.purchase_list_product {
    /* display: -webkit-box; */
    display: flex;
}

img, video {
    border: 0;
    vertical-align: top;
    -moz-user-select: none!important;
    user-select: none!important;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.md .list_item_title_wrap .list_item_description, .mo .list_item_title_wrap .list_item_description, .sm .list_item_title_wrap .list_item_description {
    font-size: 12px;
    letter-spacing: -.06px;
    font-weight: 700;
}

.purchase_list_product .list_item_title_wrap .list_item_description {
    font-size: 14px;
    letter-spacing: -.21px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: rgba(34,34,34,.5);
    line-height: 19px;
    margin-top: 4px;
}

.list_item_status {
    display: flex;
    margin-left: auto;
    text-align: right;
    -webkit-box-align: center;
    align-items: center;
}

.list_item_status {
    display: -webkit-box;
    display: flex;
    margin-left: auto;
    text-align: right;
    -webkit-box-align: center;
    align-items: center;
}


.list_item_status .column_last {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.purchase_list_product .list_item_title_wrap {
    width: 100%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.purchase_list_product .list_item_title_wrap .list_item_title {
    line-height: 17px;
    font-size: 14px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list_item_status .column_last .last_title {
    font-size: 14px;
    letter-spacing: -.21px;
}

.list_item_status .column_secondary {
    font-size: 13px;
    letter-spacing: -.07px;
    margin-right: 80px;
}

.list_item_column .column_secondary {
    margin-left: 50px;
}