/* 공통 부분 */
body, button, input, select, table, textarea {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
}

html { font-size : 62.5% }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, ins, small, strong, sub, sup, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, footer, header, nav, section, summary, time, mark { margin: 0; padding: 0; box-sizing: border-box; }

ul, ol, li { list-style: none; }

a { text-decoration: none; color: inherit; -webkit-tap-highlight-color: rgba(0,0,0,.1); }

a:hover { cursor: pointer }

img, fieldset, a { border: none;}

img, video { border: 0; vertical-align: top; }

input, select, textarea, button, form, img, label { vertical-align: middle; }

input, textarea {
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
}

input[type=text], input[type=number], input[type=password], input[type=tel], input[type=email] {
    box-sizing: border-box;
    display: inline-block;
    line-height: normal; }

textarea { box-sizing: border-box; padding: .08rem; border: .1rem solid #ccc; font-size: 1.6rem; }

button {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    background-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.container { overflow: hidden; position: relative; }

.wrap { position:relative; padding-top:10rem; overflow-anchor:none }

.blind, .u_skip {
    overflow: hidden!important;
    position: absolute!important;
    clip: rect(0,0,0,0)!important;
    width: .1rem!important;
    height: .1rem!important;
    margin: -1rem!important;
}

.title { font-size: 1.5rem; }

.sub_title {
    font-size: 12px;
    letter-spacing: -.005em;
    color: rgba(34,34,34,.5);
}

.full {
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: -.1rem;
    font-weight: 700;
    height: 52px;
    line-height: 50px;
    border-radius: 12px;
    letter-spacing: .2px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
}

.btn {
    margin-top: 1.2rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.date { font-size: 1.4rem; }

.tab_item { display: table-cell; text-align: center; }

.tab_link { position: relative; display: block; padding-top: 1.8rem; height: 9.6rem;
}

/* 마이페이지 구매내역 (구매 입찰)*/

.purchase_list_tab .tab_link:hover { cursor: pointer; }

.tab_item { display: table-cell; text-align: center; }

.content_title { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 5px 0; }

.title { font-size: 2.4rem; letter-spacing: -.036rem; }

.purchase_list_tab.detail_tab { background-color: #fff; border-radius: 0; margin-top: 2rem; }

.purchase_list_tab.detail_tab .tab_item.total { display: none; }

.purchase_list_tab.detail_tab .tab_link { padding-top: 1.2rem; height: 6.8rem; border-bottom: .1rem solid #d3d3d3; }

.purchase_list_tab.detail_tab .tab_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.purchase_list_tab.detail_tab .title { color: rgba(34,34,34,.5); }

.purchase_list_tab.detail_tab .tab_on .title {
    color: #222;
    font-weight: 700;
}

.purchase_list_tab.detail_tab .count {
    margin-top: 0;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: -.01rem;
}

.tab_item.total .count { color: #f15746; }

.tab_link .count {
    margin-top: .2rem;
    font-size: 1.8rem;
    line-height: 2rem;
    letter-spacing: -.009rem;
    font-weight: 700;
}

.purchase_list_tab.detail_tab .tab_on .tab_link {
    border-bottom: .2rem solid #222;
}

.purchase_list_tab.detail_tab .tab_on .count { 
    color: #f15746; 
}

/* ===== 수정중 ===== */

.purchase_list_tab.detail_tab {
    display: flex;
    justify-content: center;
}


.tab_link{
    padding: 12px 0px 0px;
    width: 333px;
}

.title{
    font-size: 12px;
}

/* .content_area{
    width: 1000px;
} */

/* ========== */

.purchase_list_tab.detail_tab {
    display: flex;
    justify-content: center;
}

.period_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.4rem;
    background-color: #fafafa;
    border-bottom: .1rem solid #ebebeb;
}

.period_month { margin-right: 2rem; }

.month_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1.2rem;
    min-width: 6.2rem;
    height: 3.2rem;
    line-height: 3rem;
    background-color: #fff;
    border: .1rem solid #ebebeb;
    font-size: 1.3rem;
    letter-spacing: -.007rem;
    color: rgba(34,34,34,.8);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.month_item, .month_list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.is_active .month_link { background-color: #222; border-color: #d3d3d3; color: #fff; }

.month_item+.month_item { margin-left: .4rem; }

.month_item.hide_item { display: none; }

.period_calendar_wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }

.period_calendar { position: relative; }

.period_calendar .calendar_wrap {
    position: relative;
    padding: 0 3rem 0 1.2rem;
    display: inline-block;
    width: 12rem;
    height: 3.2rem;
    line-height: 3rem;
    vertical-align: top;
    border: .1rem solid #ebebeb;
    background-color: #fff;
    cursor: pointer;
}

.period_calendar .cal_input {
    width: 100%;
    font-size: 1.3rem;
    letter-spacing: -.007rem;
    color: rgba(34,34,34,.8);
    cursor: pointer;
}

.period_calendar .cal_btn {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    margin-top: -.9rem;
    width: 1.8rem;
    height: 1.8rem;
    background-size: 1.8rem 1.8rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSI1NiIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDU2IDU2Ij4KICAgIDxwYXRoIGZpbGw9IiNCQkIiIGQ9Ik0yMSAyNS42NjdoLTQuNjY3djQuNjY2SDIxdi00LjY2NnptOS4zMzMgMGgtNC42NjZ2NC42NjZoNC42NjZ2LTQuNjY2em05LjMzNCAwSDM1djQuNjY2aDQuNjY3di00LjY2NnptNC42NjYtMTYuMzM0SDQyVjQuNjY3aC00LjY2N3Y0LjY2NkgxOC42NjdWNC42NjdIMTR2NC42NjZoLTIuMzMzYy0yLjU5IDAtNC42NDQgMi4xLTQuNjQ0IDQuNjY3TDcgNDYuNjY3YzAgMi41NjYgMi4wNzcgNC42NjYgNC42NjcgNC42NjZoMzIuNjY2YzIuNTY3IDAgNC42NjctMi4xIDQuNjY3LTQuNjY2VjE0YzAtMi41NjctMi4xLTQuNjY3LTQuNjY3LTQuNjY3em0wIDM3LjMzNEgxMS42NjdWMjFoMzIuNjY2djI1LjY2N3oiLz4KPC9zdmc+Cg==);
}

.period_calendar .calendar_open .cal_input { color: #222; }

.calendar > #datepicker1 { cursor: pointer; }

.period_calendar .swung_dash {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: -.021rem;
    line-height: 3.2rem;
    color: rgba(34,34,34,.8);
}

.period_calendar .calendar_wrap {
    position: relative;
    padding: 0 3rem 0 1.2rem;
    display: inline-block;
    width: 12rem;
    height: 3.2rem;
    line-height: 3rem;
    vertical-align: top;
    border: .1rem solid #ebebeb;
    background-color: #fff;
}

.period_btn_box { margin-left: .4rem; }

.btn_search {
    padding-right: 1rem;
    padding-top: .15rem;
    height: 3.2rem;
    line-height: 3rem;
    font-size: 1.3rem;
    letter-spacing: -.007rem;
    color: rgba(34,34,34,.8);
    border: 1px solid #ebebeb;
    background-color: #fff;
    cursor: pointer;
}

.period_btn_box > .btn_search { padding-left: 1rem; }

.search_info { padding: 1.2rem 0; }

.search_info .info_item {
    position: relative;
    padding-left: .7rem;
    font-size: 1.2rem;
    letter-spacing: -.006rem;
    color: rgba(34,34,34,.5);
}

.search_info .info_item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .3rem;
    height: .3rem;
    background-color: rgba(34,34,34,.5);
    border-radius: 50%;
}

.head_product, .head_status, .purchase_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.head_product, .head_status, .purchase_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.purchase_head {
    padding: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: .1rem solid #ebebeb;
}

.btn_filter {
    position: relative;
    padding: 5px 3px 5px 10px;
    display: inline-block;
    width: 12rem;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    font-size: 13px;
    letter-spacing: -.07px;
}


.period_option { display: none; }

.period_option.open .selected_txt {
    display: block;
    padding: 0 28px 0 16px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34,34,34,.8);
    text-align: left;
    line-height: 38px;
}

.period_option.open .ico-arr-down-gray {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 8px;
    width: 18px;
    height: 18px;
}

.period_option.open select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    opacity: 0;
}

.ico-arr-dir-down-circle { position: absolute; top: .6rem; right: .5rem; }

.head_status {
    margin-left: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
}

.head_status .status_box { margin-left: 1rem; width: 13.4rem; }

.head_status .status_link {
    position: relative;
    padding-right: 1.6rem;
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: -.007rem;
    line-height: 2.4rem;
}

.head_status .status_box.field_price { width: 14rem; }

.head_status .status_txt { display: inline-block; vertical-align: top; }

.head_status .status_link {
    position: relative;
    padding-right: 1.6rem;
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: -.007rem;
    line-height: 2.4rem;
}

.head_status .status_txt { display: inline-block; vertical-align: top; }

.head_status .status_link:after {
    content: "";
    position: absolute;
    top: 0;
    right: -.4rem;
    width: 1.6rem;
    height: 2.4rem;
    background: url(/lib/img구매내역_상태.svg) no-repeat;
}

#wish_price_arrow:after, #purchase_date_arrow:after {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAyNCI+PHBhdGggZmlsbD0iI0QzRDNEMyIgZD0iTTEyIDEzbC00IDUtNC01aDh6bS04LTJsNC01IDQgNUg0eiIvPjwvc3ZnPg==) no-repeat;
}

.select_status { padding: .4rem 2.6rem 2.6rem; }

.status_item { margin: .3rem; display: inline-block; width: calc(33.33333% - 12px); }

.status_item .status_link{
    overflow: hidden;
    display: block;
    padding: 1.5rem 1.4rem;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    white-space: nowrap;
}

.status_list .item_on .status_link {
    border-color: #222;
    font-weight: 700;
}

.status_danger .status_link { color: #f15746; }

.status_warning .status_link { color: #ff7500;}

.status_item.active a {
    color: #222;
    font-weight: 700;
    border: .2rem solid #222;
}

.status_item:not(.active) a {
    border-color: #ebebeb;
}

.status_item.status_on .btn{
    color: #222;
    font-weight: 700;
    border: .1rem solid #222;
}

#expired {
    color: #f15746;
}

.ico-arr-dir-down-circle {
    width: 24px;
    margin: 0;
}

.head_status .status_link:after {
    right: 0;
}

/*상품 부분*/
.purchase_list_display_item {
    padding: 12px;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.purchase_list_display_item, .purchase_list_product {
    display: flex;
}
.purchase_list_product .list_item_img_wrap{
    position: relative;
}
.purchase_list_product .list_item_img_wrap .list_item_img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
}
.purchase_list_product .list_item_title_wrap {
    width: 100%;
    margin-left: 16px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-self: center;
}
.purchase_list_product .list_item_title_wrap .list_item_title{
    line-height: 17px;
    font-size: 14px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.purchase_list_product .list_item_title_wrap .list_item_description {
    font-size: 14px;
    letter-spacing: -.21px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: rgba(34,34,34,.5);
    line-height: 19px;
    margin-top: 4px;
}
.list_item_status{
    display: flex;
    margin-left: auto;
    text-align: right;
    -webkit-box-align: center;
    align-items: center;
}
.list_item_status .list_item_column{
    margin-left: 10px;
    width: 134px;
}
.list_item_status .column_secondary{
    font-size: 13px;
    letter-spacing: -.07px;
}
.list_item_status .column_last {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-self: center;
}
.list_item_status .column_last .last_title {
    font-size: 14px;
    letter-spacing: -.21px;
}
.list_item_status .column_last .last_description{
    font-size: 12px;
    letter-spacing: -.06px;
    word-break: keep-all;
    overflow: hidden;
}

#sell_tab_item {
    padding: 0px 14px;
}

.title h3 {
    line-height: 29px;
    font-size: 24px;
    margin: 0;
    color: black;
}