<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOEKREAM | 한정판 거래의 FLEX</title>
    <link rel="stylesheet" href="/css/my/withdrawal.css">
    <link rel="stylesheet" href="/css/fragment/mypage_navbar.css">
    <script defer src="/js/fragment/mypage_navbar.js"></script>
    <link rel="stylesheet" href="/css/fragment/footer.css">
</head>

<body>
<header th:replace="/fragment/header::header"></header>
    <div class="container my lg">
        <div>
            <!-- navbar -->
            <nav th:replace="/fragment/mypage_navbar::nav"></nav>
        </div>
        <div class="content_area">
            <div class="my_withdrawal">
                <div class="content_title">
                    <div class="title">
                        <h3>회원탈퇴</h3>
                        <!---->
                    </div>
                    <!---->
                </div>
                <div class="content">
                    <div class="withdrawal_wrap">
                        <div>
                            <h4 class="withdrawal_title">회원탈퇴에 앞서 아래 내용을 반드시 확인해 주세요.</h4>
                            <div class="withdrawal_terms">
                                <div class="terms_box">
                                    <h5 class="terms_title">
                                        <div class="checkbox_item"><input
                                                id="title0" type="checkbox" name="" class="blind"
                                               ><label for="title0" class="check_label"
                                               ><!-- checkbox --> <input id="checkbox1" class="checkbox_button check_all" type="checkbox"><span class="label_txt">KREAM을 탈퇴하면 회원 정보 및 서비스
                                                    이용 기록이 삭제됩니다.</span>
                                                <!---->
                                            </label></div>
                                    </h5>
                                    <div class="terms_detail">
                                        <!---->
                                        <ul class="terms_list">
                                            <li class="terms_item"> 내 프로필, 거래내역(구매/판매), 관심상품, 보유상품,
                                                STYLE 게시물(게시물/댓글), 미사용 보유 포인트 등 사용자의 모든 정보가 사라지며 재가입 하더라도 복구가 불가능합니다.
                                            </li>
                                            <li class="terms_item"> 탈퇴 14일 이내 재가입할 수 없으며, 탈퇴 후 동일
                                                이메일로 재가입할 수 없습니다 </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="terms_box">
                                    <h5 class="terms_title">
                                        <div class="checkbox_item"><input
                                                id="title1" type="checkbox" name="" class="blind"
                                               ><label for="title1" class="check_label"
                                               ><!-- checkbox --> <input id="checkbox2" class="checkbox_button check_all" type="checkbox"><span class="label_txt">관련 법령 및 내부 기준에 따라 별도
                                                    보관하는 경우에는 일부 정보가 보관될 수 있습니다.</span>
                                                <!---->
                                            </label></div>
                                    </h5>
                                    <div class="terms_detail">
                                        <h6 class="terms_subtitle"> 1. 전자상거래 등 소비자 보호에 관한 법률 </h6>
                                        <ul class="terms_list">
                                            <li class="terms_item"> 계약 또는 청약철회 등에 관한 기록: 5년 보관 </li>
                                            <li class="terms_item"> 대금결제 및 재화 등의 공급에 관한 기록: 5년 보관
                                            </li>
                                            <li class="terms_item"> 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="terms_detail">
                                        <h6 class="terms_subtitle"> 2. 통신비밀보호법 </h6>
                                        <ul class="terms_list">
                                            <li class="terms_item"> 접속 로그 기록: 3개월 보관 </li>
                                        </ul>
                                    </div>
                                    <div class="terms_detail">
                                        <h6 class="terms_subtitle"> 3. 내부 기준에 따라 별도 보관 </h6>
                                        <ul class="terms_list">
                                            <li class="terms_item"> 부정이용 방지를 위해 이름, 이메일(로그인ID),
                                                휴대전화번호, CI/DI: 3년 보관 </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="terms_box">
                                    <h5 class="terms_title">
                                        <div class="checkbox_item"><input
                                                id="title2" type="checkbox" name="" class="blind"
                                               ><label for="title2" class="check_label"
                                               ><!-- checkbox --> <input id="checkbox3" class="checkbox_button check_all" type="checkbox"><span class="label_txt">KREAM 탈퇴가 제한된 경우에는 아래
                                                    내용을 참고하시기 바랍니다.</span>
                                                <!---->
                                            </label></div>
                                    </h5>
                                    <div class="terms_detail">
                                        <!---->
                                        <ul class="terms_list">
                                            <li class="terms_item"> 진행 중인 거래(판매/구매)가 있을 경우: 해당 거래 종료
                                                후 탈퇴 가능 </li>
                                            <li class="terms_item"> 진행 중인 입찰(판매/구매)가 있을 경우: 해당 입찰 삭제
                                                후 탈퇴 가능 </li>
                                            <li class="terms_item"> 미납 수수료(착불 발송비/페널티)가 있을 경우: 해당 결제
                                                완료 후 탈퇴 가능 </li>
                                            <li class="terms_item"> 이용 정지 상태인 경우: 이용 정지 해제 후 탈퇴 가능
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="withdrawal_check">
                                <div class="checkbox_item"><input id="check1"
                                        type="checkbox" name="" class="blind"><label for="check1"
                                        class="check_label"><!-- checkbox --> <input onclick="allCheck()" id="checkbox_all" class="checkbox_button" type="checkbox"><span class="label_txt">회원탈퇴 안내를 모두 확인하였으며 탈퇴에
                                            동의합니다.</span>
                                        <!---->
                                    </label></div>
                            </div>
                            <div class="withdrawal_btn_box"><a onclick="openLayer()"
                                    class="btn outlinegrey medium"> 탈퇴하기 </a><a
                                    href="#" class="btn solid medium"> 취소하기 </a>
                            </div>
                            <div class="layer_withdrawal layer lg" id="draw_layer" style="display:none;"
                                >
                                <div class="layer_container" ><a class="btn_layer_close"
                                         ><!-- close button--> <input id="draw-check" type="checkbox"></a>
                                    <div class="layer_header" >
                                        <h2 class="title"  >
                                            <!----> 정말 탈퇴하시겠습니까?
                                        </h2>
                                    </div>
                                    <div class="layer_content" >
                                        <p class="withdrawal_desc"  >탈퇴하기 클릭 시 바로 탈퇴
                                            처리됩니다.<br>탈퇴 후 14일 이내 재가입할 수 없으며,<br>재가입 시 동일 이메일을 사용할 수 없습니다.</p>
                                        <!---->
                                        <div class="withdrawal_btn_box"  >
                                            <!----><button type="button" class="btn outlinegrey medium" onclick="drawOk()"> 확인 </button>
                                                   <button type="button" class="btn solid medium" onclick="closeLayer()"> 취소하기 </button>
                                            <!---->
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layer_withdrawal layer lg" style="display:none;" 
                                >
                                <div class="layer_container" ><a href="#" class="btn_layer_close"
                                         ><svg xmlns="http://www.w3.org/2000/svg"
                                            class="ico-close icon sprite-icons"  >
                                            <use href="/_nuxt/3182c3b1ca2f77da7bc3e1acf109306c.svg#i-ico-close"
                                                xlink:href="/_nuxt/3182c3b1ca2f77da7bc3e1acf109306c.svg#i-ico-close"
                                                 ></use>
                                        </svg></a>
                                    <div class="layer_header" >
                                        <h2 class="title"  >
                                            <!----> 회원 탈퇴가 완료되었습니다.
                                        </h2>
                                    </div>
                                    <div class="layer_content" >
                                        <p class="withdrawal_desc"  >그동안 서비스를 이용해
                                            주셔서 감사합니다.<br>14일 후 KREAM을 다시 이용할 수 있습니다.</p>
                                        <!---->
                                        <div class="withdrawal_btn_box"  >
                                            <!---->
                                            <!----><button type="button" class="btn outlinegrey medium"
                                                 > 확인 </button>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layer_withdrawal layer lg" style="display:none;" 
                                >
                                <div class="layer_container" ><a href="#" class="btn_layer_close"
                                         ><svg xmlns="http://www.w3.org/2000/svg"
                                            class="ico-close icon sprite-icons"  >
                                            <use href="/_nuxt/3182c3b1ca2f77da7bc3e1acf109306c.svg#i-ico-close"
                                                xlink:href="/_nuxt/3182c3b1ca2f77da7bc3e1acf109306c.svg#i-ico-close"
                                                 ></use>
                                        </svg></a>
                                    <div class="layer_header" >
                                        <h2 class="title"  ><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="alert-circle-dark icon sprite-icons" 
                                                >
                                                <use href="/_nuxt/3182c3b1ca2f77da7bc3e1acf109306c.svg#i-alert-circle-dark"
                                                    xlink:href="/_nuxt/3182c3b1ca2f77da7bc3e1acf109306c.svg#i-alert-circle-dark"
                                                     ></use>
                                            </svg> 탈퇴 불가한 회원입니다. </h2>
                                    </div>
                                    <div class="layer_content" >
                                        <p class="withdrawal_desc unable_desc"  >아래
                                            사유가 확인되어 탈퇴가 제한됩니다.</p>
                                        <ul class="withdrawal_list"  ></ul>
                                        <div class="withdrawal_btn_box"  >
                                            <!---->
                                            <!----><button type="button" class="btn outlinegrey medium"
                                                 > 확인 </button>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="/fragment/footer::footer"></footer>
</body>
<script>
// 체크버튼
let check1 = document.querySelector('#checkbox1')
let check2 = document.querySelector('#checkbox2')
let check3 = document.querySelector('#checkbox3')
// 전체 체크버튼
function allCheck(){
    let checkAll = document.querySelector('#checkbox_all')
    let checks = document.querySelectorAll('check_all');
    if(checkAll.checked){
        check1.checked=true
        check2.checked=true
        check3.checked=true
    }else{
        check1.checked=false
        check2.checked=false
        check3.checked=false
    }
}
// 레이어 열기
function openLayer(){
    if(check1.checked && check2.checked && check3.checked){
    document.querySelector('#draw_layer').style.display="block"
    }else {
        alert('모두 체크해주십시오')
    }
}
function closeLayer(){
    document.querySelector('#draw_layer').style.display="none"
}
// 레이어 닫기

// 레이어 체크버튼
let drawCheck = document.querySelector('#draw-check')
// 확인 func
function drawOk(){
    if(drawCheck.checked == true){
        // 탈퇴 api 호출
        if (confirm("정말 탈퇴하시겠습니까?") == true){    //확인
            fetch('http://localhost:8889/api/member/delete', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    "transaction_time":`${new Date()}`,
                    "resultCode":"ok",
                    "description":"정상",
                    "data":{
                    }
                }),
            }).then((response) => response.json())
                .then((data) => {
                        console.log(data)
                        if (data == true) {
                            alert('회원탈퇴 완료')
                            location.href = '/logout';
                            return;
                        } else {
                            alert('거래중인 상품이 있습니다');
                            location.href ="/my/withdrawal"
                            return;
                        }
                    }
                )
        }else{   //취소
            return false;
        }
    }else{
        alert('체크 후 탈퇴 가능합니다')
    }
}
function remove() {

}
</script>
</html>