<!--<link rel="stylesheet" href="/css/layer/layer.css">-->
<!--<link rel="stylesheet" href="/css/layer/layer_payout_account.css">-->
<!--<div class="layer_payout_account layer lg">-->
<html xmlns:th="http://www.thymeleaf.org">
<div class="layer_payout_account layer lg" style="display:none" th:fragment="layer_payout_account">
    <div class="layer_payout_account"><a href="#" class="btn_layer_close" onclick="close_payout_account()">
        <img src="/img/close.png">
    </a>
        <div class="layer_header">
            <h2 class="title">판매 정산 계좌</h2>
        </div>
        <div class="layer_content">
            <div class="registered_account_box">
                <h4 class="box_title">등록된 계좌 정보</h4>
                <p class="box_account_info"><span class="account">우리은행 1002652376687</span><span
                        class="account_devider">/</span><span class="name">전주은</span></p>
            </div>
            <div class="content_registration">
                <div class="account_registration">
                    <div class="input_logistics_companies input_box ">
                        <h4 class="input_title">은행명</h4>
                        <div class="input_item">
                            <input type="text" placeholder="선택하세요" readonly="readonly"
                                autocomplete="off" inputmode="numeric" class="input_txt"><button type="button"
                                class="btn btn_dropdown" data-v-1c44afeb="">
                            <img src="/img/down.png"></button></div>
                    </div>
                    <div class="input_box has_error">
                        <h4 class="input_title">계좌번호</h4>
                        <div class="input_item"><input type="tel" placeholder="- 없이 입력하세요" autocomplete="off"
                                class="input_txt"></div>
                        <p class="input_error">올바른 계좌번호를 입력해주세요.</p>
                    </div>
                    <div class="input_box">
                        <h4 class="input_title">예금주</h4>
                        <div class="input_item"><input type="text" placeholder="예금주명을 정확히 입력하세요." autocomplete="off"
                                class="input_txt"></div>
                        <p class="input_error">올바른 이름을 입력해주세요. (2-50자)</p>
                    </div>
                </div>
                <div class="registration_btn_box"><a disabled="disabled" href="#"
                        class="btn btn_save solid medium disabled"> 변경하기 </a></div>
                <!---->
            </div>
        </div>
    </div>
</div>
</html>