<!--<link rel="stylesheet" href="/css/layer/layer.css">-->
<!--<link rel="stylesheet" href="/css/layer/layer_shipping_memo.css">-->
<!--<div class="layer_shipping_memo layer lg">-->
<html xmlns:th="http://www.thymeleaf.org">
<div class="layer_shipping_memo layer lg" style="display:none" th:fragment="layer_shipping_memo">
        <div class="layer_container"><a class="btn_layer_close"
                                        onclick="close_layer_shipping_memo()">
            <img src="/img/close.png"></a>
            <div class="layer_header">
                <p class="title">배송 요청사항</p>
            </div>
            <div class="layer_content">
                <div class="button_shipping_memo_wrap selectable"
                     updated-memo="[object Object]">
                    <p>요청사항 없음</p><img src="/img/wcheck.png" style="display: block;">
                </div>
                <div class="button_shipping_memo_wrap selectable checked"
                     updated-memo="[object Object]">
                    <p>문 앞에 놓아주세요</p><img src="/img/wcheck.png">
                </div>
                <div class="button_shipping_memo_wrap selectable"
                     updated-memo="[object Object]">
                    <p>경비실에 맡겨 주세요</p><img src="/img/wcheck.png">
                </div>
                <div class="button_shipping_memo_wrap selectable"
                     updated-memo="[object Object]">
                    <p>파손 위험 상품입니다. 배송 시 주의해주세요</p><img src="/img/wcheck.png">
                </div>
                <div class="shipping_memo">
                    <div class="button_shipping_memo_wrap direct_input"
                         updatedmemo="[object Object]">
                        <p>직접 입력</p>
                        <img src="/img/wcheck.png">
                    </div>
                    <!--직접 입력하는 드롭다운-->
                    <div><textarea placeholder="내용을 입력해주세요.(최대 40자)" maxlength="40"
                                   class="textarea_shipping_memo"
                                   style="display: none;"></textarea>
                    </div>
                    <!--직접 입력하는 드롭다운-->
                </div>
                <div class="shipping_memo_buttons">
                    <button type="button" class="btn btn_cancel outlinegrey medium"
                            onclick="close_layer_shipping_memo()"> 취소
                    </button><a  class="btn btn_apply solid medium"
                                 onclick="update_layer_shipping_memo()"> 적용하기 </a>
                </div>
            </div>
        </div>
    </div>
</html>