<!--<link rel="stylesheet" href="/css/layer/layer.css">-->
<!--<link rel="stylesheet" href="/css/layer/layer_point.css">-->
<!--<div class="layer_point layer lg">-->
<html xmlns:th="http://www.thymeleaf.org">
<div class="layer_point layer lg" style="display:none" th:fragment="layer_point">
    <div class="layer_container"><a href="#" class="btn_layer_close" onclick="close_point()">
        <img src="/img/close.png">
    </a>
        <div class="layer_header">
            <h2 class="title">이용안내</h2>
        </div>
        <div class="layer_content">
            <div class="usable_wrap">
                <div class="usable_point">
                    <h3 class="title">사용 가능한 포인트</h3>
                    <p class="point_box"><span class="point">3,000</span><span class="unit">P</span></p>
                    <div class="point_info">
                        <p class="info_item">이번달 소멸 예정 포인트 0P</p>
                        <p class="info_item"> 포인트 유효기간은 적립일로부터 최대 1년까지이며, 유형에 따라 달라질 수 있습니다. </p>
                    </div>
                </div>
                <ul class="usable_list">
                    <li class="usable_item"> 1,000P 이상부터 구매금액 제한 없이 사용하실 수 있습니다. </li>
                    <li class="usable_item"> 입찰 삭제, 거래 취소 시 사용한 포인트는 환불됩니다. </li>
                    <li class="usable_item"> 먼저 적립된 포인트부터 순서대로 사용되며, 사용하지 않으실 경우 유효기간이 지나면 자동 소멸됩니다. </li>
                    <li class="usable_item"> 유효기간이 지난 후 환불받은 포인트는 다시 사용하실 수 없습니다. </li>
                </ul>
            </div>
            <div class="layer_btn"><a href="#" class="btn outline medium"> 확인 </a></div>
        </div>
    </div>
</div>