<!--<link rel="stylesheet" href="/css/layer/layer_size.css">-->
<!--<div class="layer lg size_layer" style="display: none;">-->
<html xmlns:th="http://www.thymeleaf.org">
<div class="size_layer layer lg" style="display:none" th:fragment="size_layer">
    <div class="layer_container">
        <div class="layer_header">
            <h2 class="title">사이즈 선택</h2>
        </div>
        <div class="layer_content">
            <div class="size_list_area">
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">220</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">225</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">230</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">235</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">240</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">245</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">250</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">255</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">260</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">265</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">270</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">275</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">280</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">285</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">290</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">295</span>
                    </a>
                </div>
                <div class="size_item">
                    <a type="button" class="btn outlinegrey medium">
                        <span class="info_txt">300</span>
                    </a>
                </div>
            </div>
            <div class="layer_btn">
                <a type="button" class="btn solid disabled medium" id="size_submit_btn"> 확인 </a>
            </div>
        </div>
        <a href="javascript:void(0);" onclick="closeLayer()" class="btn_layer_close">
            <img src="/img/nav_close_icon.png" class="ico-close icon sprite-icons">
        </a>
    </div>
</div>