<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="js">

    <!-- 공통요소 -->
<script src="/vendors/scripts/core.js"></script>
<script src="/vendors/scripts/script.min.js"></script>
<script src="/vendors/scripts/process.js"></script>
<script src="/vendors/scripts/layout-settings.js"></script>

    <!-- databases -->
<!--    <script src="/src/plugins/datatables/js/jquery.dataTables.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/dataTables.responsive.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>-->

    <!-- buttons for Export datatable -->
<!--    <script src="/src/plugins/datatables/js/dataTables.buttons.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/buttons.print.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/buttons.html5.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/buttons.flash.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/pdfmake.min.js"></script>-->
<!--    <script src="/src/plugins/datatables/js/vfs_fonts.js"></script>-->
    <!-- Datatable Setting js -->
<!--    <script src="/vendors/scripts/datatable-setting.js"></script>-->
    <!-- Google Tag Manager (noscript) -->
<!--    <noscript-->
<!--    ><iframe-->
<!--            src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"-->
<!--            height="0"-->
<!--            width="0"-->
<!--            style="display: none; visibility: hidden"-->
<!--    ></iframe-->
<!--    ></noscript>-->
    <!-- End Google Tag Manager (noscript) -->
</div>
</html>