<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
  <!-- Basic Page Info -->
  <meta charset="utf-8" />
  <title>SHOEKREAM Admin</title>

  <!-- Site favicon -->
  <link
          rel="apple-touch-icon"
          sizes="180x180"
          href="/vendors/images/adminlogo.png"
  />
  <link
          rel="icon"
          type="image/png"
          sizes="32x32"
          href="/vendors/images/adminlogo.png"
  />
  <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/vendors/images/adminlogo.png"
  />

  <!-- Mobile Specific Metas -->
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  <!-- Google Font -->
  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet"
  />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" />
  <link
          rel="stylesheet"
          type="text/css"
          href="/vendors/styles/icon-font.min.css"
  />
  <link
          rel="stylesheet"
          type="text/css"
          href="/src/plugins/datatables/css/dataTables.bootstrap4.min.css"
  />
  <link
          rel="stylesheet"
          type="text/css"
          href="/src/plugins/datatables/css/responsive.bootstrap4.min.css"
  />
  <link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />
  <link rel="stylesheet" type="text/css" href="/src/styles/list.css"/>
  <link rel="stylesheet" href="/src/styles/layer.css">
  <link rel="stylesheet" href="/src/styles/pop_delete.css">
    <!-- vue와 jquery -->
<script src="https://unpkg.com/vue@3"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
          async
          src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
  ></script>
<!--  <script>-->
<!--    window.dataLayer = window.dataLayer || [];-->
<!--    function gtag() {-->
<!--      dataLayer.push(arguments);-->
<!--    }-->
<!--    gtag("js", new Date());-->

<!--    gtag("config", "G-GBZ3SGGX85");-->
<!--  </script>-->
  <!-- Google Tag Manager -->
<!--  <script>-->
<!--    (function (w, d, s, l, i) {-->
<!--      w[l] = w[l] || [];-->
<!--      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });-->
<!--      var f = d.getElementsByTagName(s)[0],-->
<!--              j = d.createElement(s),-->
<!--              dl = l != "dataLayer" ? "&l=" + l : "";-->
<!--      j.async = true;-->
<!--      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;-->
<!--      f.parentNode.insertBefore(j, f);-->
<!--    })(window, document, "script", "dataLayer", "GTM-NXZMQSS");-->
<!--  </script>-->
  <!-- End Google Tag Manager -->
</head>
</html>