.layer_penalty .dropdown_content {
    display: none;
    padding: 30px 30px 28px;
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    letter-spacing: -.21px;
}
.layer_penalty .dropdown_content{
    display: block;
    padding: 0;
    background-color: #fff;
    border-bottom: none;
}
.layer_penalty .dropdown_content h1, .layer_penalty .dropdown_content h2, .layer_penalty .dropdown_content h3,
.layer_penalty .dropdown_content h4, .layer_penalty .dropdown_content h5, .layer_penalty .dropdown_content h6,
.layer_penalty .dropdown_contentp {
    line-height: 24px;
}
.layer_penalty .dropdown_content a {
    color: #297dcb;
    text-decoration: underline;
}
.layer_penalty .dropdown_content h1, .layer_penalty .dropdown_content h2 {
    color: #222;
    font-size: 20px;
    font-weight: 700;
}
.layer_penalty .dropdown_content figure.table {
    margin-top: 10px;
}
.layer_penalty table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}
.layer_penalty .dropdown_content table {
    width: 100%;
    border-top: 1px solid #ebebeb;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
}
.layer_penalty .dropdown_content table tbody td,
.layer_penalty .dropdown_content table tbody th {
    height: 48px;
    padding: 4px 15px;
    border: none;
    border-top: 1px solid #ebebeb;
    font-size: 14px;
}
.layer_penalty .dropdown_content table tbody td {
    text-align: left;
    vertical-align: center;
    background-color: #fcfcfc;
}
.layer_penalty .dropdown_content h4 {
    color: #f15746;
}