*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a, a:active, a:focus, a:hover {
    text-decoration: none;
}

a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
.view_data{
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: -.21px;
    letter-spacing: -.15px;
    color: #1d85e6;
    text-decoration: underline;
}
.layer_agreement .layer_content, 
.layer_auth_policy .layer_content, 
.layer_faq .layer_content, 
.layer_order_notice .layer_content, 
.layer_privacy .layer_content {
    max-height: 528px;
    overflow-y: auto;
    padding: 0 32px;
    margin-bottom: 32px;
}

.layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34,34,34,.5);
    z-index: 1010;
}
.layer .layer_container {
    width: 440px;
}
.layer_container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 448px;
    border-radius: 16px;
    -webkit-box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
}


.btn_layer_close{
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}



.layer_header .title{
    line-height: 22px;
    padding: 18px 50px 20px;
    min-height: 60px;
    font-size: 18px;
    letter-spacing: -.27px;
    font-weight: 700;
    letter-spacing: -.15px;
    color: #000;
    text-align: center;
    background-color: #fff;
}
/*notice popup*/
.layer_order_notice .layer_content{
    padding: 0 16px;
}


.layer .layer_container iframe {
    height: 398px;
}
.wrap_btn {
    margin: 20px 16px 0;
}

.solid {
    font-weight: 700;
    color: #fff;
    background-color: #222;
}

.large {
    padding: 0 25px;
    height: 52px;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: -.16px;
    width: 100%;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
.icon{
    width: 24px;
    height: 24px;
}

/*auth_policy_popup(검수기준)*/

.category_list {
    padding: 0 0 16px;
}

.lg .category_list_items, .md .category_list_items {
    background: #fff;
    width: 100%;
    position: relative;
}
table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.category_list_items tr {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.category_list_items .category.category_on{
    color: #222;
    font-weight: 700;
}

.layer_content .category_list_items .category, 
.md .category_list_items .category, 
.mo .category_list_items .category, 
.sm .category_list_items .category {
    font-size: 16px;
    height: 59px;
}

.category_list_items .category {
    width: 30.3333333333%;
    color: rgba(34,34,34,.5);
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 12px;
    font-size: 18px;
    letter-spacing: -.09px;
    height: 75px;
}
.layer_content .category_list_items .category .category_text{
    max-width: 96px;
    max-height: 37px;
}

.wrap{
    min-width: 320px;
    min-height: 100%;
    max-width: 640px;
    color: #222;
    font-family: Noto Sans KR,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}
.blind{
    overflow: hidden;
    position: absolute!important;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.content .description_wrap {
    padding: 20px 0 19px;
}
.content .description {
    line-height: 17px;
    letter-spacing: .11px;
}
.content .description_list {
    margin-bottom: 14px;
}
.content .description_list .list_item {
    position: relative;
    margin-top: 14px;
    padding-left: 10px;
    color: rgba(34,34,34,.6);
    line-height: 17px;
    letter-spacing: .15px;
}

.content .check_wrap {
    padding: 0 0 20px;
}

.content .title_check {
    position: relative;
    padding: 30px 0 6px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .17px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #ebebeb;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
}

.content .more_info_list .more_list_item {
    color: rgba(34,34,34,.5);
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .12px;
    margin-top: 2px;
}

.content .btn_check {
    position: relative;
    width: 100%;
    height: 67px;
    min-height: 32px;
    padding-top: 25px;
    text-align: left;
    letter-spacing: .16px;
}


/**********새 주소 추가*************/
.layer_delivery .delivery_bind{
    padding: 0 32px;
}
.input_box{
    position: relative;
    padding: 10px 0 14px;
}
.layer_delivery .input_box{
    padding-top: 16px;
}
.layer_delivery .input_box:first-of-type {
    padding-top: 0;
}
.input_title{
    font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}
.input_item{
    position: relative;
}
.has_error .input_txt{
    border-bottom-color: #ef6253;
}
.input_item .input_txt{
    padding: 8px 0;
    width: 100%;
    font-size: 15px;
    letter-spacing: -.15px;
    line-height: 22px;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    
}
.has_error .input_error{
    display: block;
    position: absolute;
    line-height: 16px;
    font-size: 11px;
    color: #f15746;
}
.input_error{
    display: none;
}
.btn.btn_zipcode {
    position: absolute;
    right: 0;
    bottom: 8px;
}
.outline{
    border: 1px solid #d3d3d3;
}
.delivery_check .checkbox_item:last-child {
    margin-right: 0;
    position: relative;
    font-size: 0;
}
.checkbox_item .check_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
}


/* 체크박스 꾸미기 - 활성화 x */
input[class="check"] + label {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid #bcbcbc;
	cursor: pointer;
}
.check{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* 체크박스 꾸미기 - 활성화 */
input[class="check"]:checked + label {
    background-image:url("../../img/check.png");
    background-size: 100%;
    border: 1px solid #fff;
}
.checkbox_item .label_txt {
    padding-left: 8px;
    display: inline-block;
    line-height: 24px;
    font-size: 13px;
    letter-spacing: -.07px;
    vertical-align: top;
}
.layer_delivery .layer_btn {
    padding-top: 32px;
}
.layer_btn{
    padding: 24px 32px 32px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.layer_btn .btn+.btn{
    margin-left: 8px;
}
/****************새 주소 추가 끝****************/

/****************주소 변경 시작****************/
/****************주소 변경 끝****************/

/****************포인트 이용안내 시작****************/
.usable_wrap{
    padding: 19px 32px 30px;
}
.usable_point{
    padding-bottom: 30px;
}
.usable_point .title {
    font-size: 14px;
    letter-spacing: -.21px;
}
.point_box{
    padding: 18px 0 2px;
    border-bottom: 2px solid #222;
    line-height: 36px;
    font-size: 24px;
    letter-spacing: -.12px;
}
.point_box .point{
    font-weight: 700;
}
.point_info{
    padding-top: 13px;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.8);
}
.point_info .info_item+.info_item{
    margin-top: 8px;
    color: rgba(34,34,34,.5);
}

.usable_list {
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
}
.usable_item{
    position: relative;
    padding-left: 11px;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.8);
}
.usable_item:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background-color: #333;
    border-radius: 50%;
}
.layer_btn .btn{
    width: 120px;
}
/****************포인트 이용안내 끝****************/




