* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
li, ol, ul {
    list-style: none;
}

a, a:active, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
input, textarea {
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: transparent;
}
button {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#__layout {
    opacity: 1;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}
.wrap{
    position: relative;
    padding-top: 90px;
}
.wrap_auth{
    position: relative;
    font-size: 14px;
    line-height: 1.2;
}
.header.lg, .header.md{
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    min-height: 100px;
}
.header .header_top{
    -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}
.header .top_inner{
    display: flex;
    padding: 8px 40px;
}

.header .top_list {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
}

.header .top_link{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.8);
}
.header .top_item+.top_item {
    margin-left: 24px;
}

.header .main_inner{
    display: flex;
    padding: 0 40px;
    height: 68px;
    min-width: 320px;
    -webkit-box-align: center;
    align-items: center;
}
.header .logo{
    display: -webkit-box;
    display: flex;
    width: 120px;
    height: 24px;
}
.header .logo img{
    /*width:150px;*/
    /*height: 150px;*/
    /*position: relative;*/
    /*top:-70px;*/
    /*left:-20px;*/
}
.header .gnb_area, .header .gnb_list{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.header .gnb_area{
    margin-left: auto;
}
.header .gnb_item {
    margin-right: 40px;
}
.header .gnb_link, .header .search_btn_box {
    display: flex;
}
.header .gnb_link {
    position: relative;
    font-size: 15px;
    letter-spacing: -.15px;
}
.header .btn_search{
    display: inherit;
    border: none!important;
}
.btn_search {
    padding: 0 16px;
    height: 32px;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.8);
    border: 1px solid #ebebeb;
    background-color: #fff;
    cursor: pointer;
}

.container.customer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 40px 160px;
}
.container.customer .snb_area{
    float: left;
    width: 160px;
    margin-right: 40px;
}

.container.customer .snb_main_title{
    padding-bottom: 25px;
    font-size: 32px;
    letter-spacing: -.48px;
    color: #000;
    text-transform: uppercase;
}
.menu_item.menu_on .menu_link{
    color: #222;
    font-weight: 700;
}
.menu_link{
    line-height: 18px;
    font-size: 15px;
    letter-spacing: -.15px;
    color: rgba(34,34,34,.5);
}
.menu_item+.menu_item {
    margin-top: 12px;
}
.container.customer .content_area{
    overflow: hidden;
}

.content_title.border{
    padding-bottom: 16px;
    border-bottom: 3px solid #222;
}
.content_title{
    display: flex;
    padding: 5px 0 6px;
}
.content_title.border .title{
    font-size: 24px;
    letter-spacing: -.36px;
}
.content_title.border .title>h3{
    line-height: 29px;
    font-size: inherit;
    margin:0;
}
.search_faq_wrap {
    position: relative;
}
.input_search_faq {
    background-color: #f4f4f4;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    margin: 16px 0 20px;
    padding: 15px 43px 15px 12px;
    font-size: 15px;
}
.btn_search_delete{
    position: absolute;
    top: 30px;
    right: 14px;
}
.btn_search_delete img{
    width: 20px;
    height: 20px;
}
.category_list_items{
    width: 100%;
}
.category_list_items .category .category_text{
    max-width: 300px;
    max-height: 42px;
    margin: 0 auto;
    overflow: hidden;
}

.category_list_items tr{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.category_list_items .category.category_on{
    color: #222;
    font-weight: 700;
}
.category_list_items .category{
    width: 33.3333333333%;
    color: rgba(34,34,34,.5);
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 12px;
    font-size: 18px;
    letter-spacing: -.09px;
    height: 75px;
}
.customer_content .category_list_items .category{
    font-size: 18px;
}
.category_list_items td{
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.customer_content .wrap {
    min-width: 320px;
    min-height: 100%;
    max-width: 640px;
    color: #222;
    font-family: Noto Sans KR,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}
.blind{
    overflow: hidden;
    position: absolute!important;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}
.content .description_list .list_item:before {
    position: absolute;
    left: 0;
    top: 5px;
    width: 3px;
    height: 3px;
    background-color: #333;
    content: "";
}
.content .description_list .list_item {
    position: relative;
    margin-top: 14px;
    padding-left: 10px;
    color: rgba(34,34,34,.6);
    line-height: 17px;
    letter-spacing: .15px;
}
.content .description_list {
    margin-bottom: 14px;
}
.content .description {
    line-height: 17px;
    letter-spacing: .11px;
}
.content .description+.description {
    margin-top: 17px;
}
.content .title_check:before {
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    height: 8px;
    content: "";
}
.content .title_check {
    position: relative;
    padding: 30px 0 6px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .17px;
}
.customer_content table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #ebebeb;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
}

.customer_content table thead th {
    height: 35px;
    padding: 5px;
    color: rgba(34,34,34,.5);
    background-color: hsla(0,0%,92.2%,.2);
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .12px;
}
.customer_content table tbody th {
    padding: 4px 0;
    text-align: left;
}
.customer_content table tbody td, 
.customer_content table tbody th {
    height: 40px;
    padding: 4px 5px;
    border-top: 1px solid #f2f2f2;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .13px;
}
.customer_content table th .etc {
    color: rgba(34,34,34,.5);
}
.customer_content table td .text_info_warning {
    color: #f15746;
}
.customer_content table td [class*=text] {
    display: block;
    margin-top: -1px;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .12px;
}
.customer_content table tbody th {
    padding: 4px 0;
    text-align: left;
}

.customer_content .content .btn_check {
    position: relative;
    width: 100%;
    height: 67px;
    min-height: 32px;
    padding-top: 25px;
    text-align: left;
    letter-spacing: .16px;
}
.customer_content .content .more_info_list {
    padding: 15px 0;
    border-top: 1px solid #f2f2f2;
}
.customer_content .content .more_info_list .more_list_item {
    color: rgba(34,34,34,.5);
    font-size: 11px;
    line-height: 14px;
    letter-spacing: .12px;
    margin-top: 2px;
}
.customer_content .content .add_check {
    position: relative;
    padding: 30px 0 6px;
    letter-spacing: .17px;
}
.customer_content .content .etc_desc {
    font-size: 13px;
    color: rgba(34,34,34,.6);
    margin-top: 5px;
}
.menu_item.active .menu_link {
    font-weight: 700;
    color: #222;
}
.menu_item:not(.active) .menu_link{
    border-color: #ebebeb;
}
.category.active {
    font-weight: 700;
    color: #222;
}
.category:not(.active) {
    border-color: #ebebeb;
}