<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<body>
<div class="pre-loader">
  <div class="pre-loader-box">
    <div class="loader-logo">
      <img src="vendors/images/adminlogo.png" alt="" />
    </div>
    <div class="loader-progress" id="progress_div">
      <div class="bar" id="bar1"></div>
    </div>
    <div class="percent" id="percent1">0%</div>
    <div class="loading-text">Loading...</div>
  </div>
</div>
<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">

      <!-- Simple Datatable start -->
      <div class="card-box mb-30">
        <div class="pd-20" id="top">
          <h4 class="text-blue h4">관리자 리스트</h4>
          <button type="button" class="btn btn-primary m-t-15 waves-effect" onclick="pop_admin_register()">관리자 등록</button>
          <!--번호/아이디/이름/전화번호/등록날짜-->
        </div>
        <div class="pb-20">
          <table class="data-table table stripe hover nowrap">
            <thead>
            <tr>
              <th>idx</th>
              <th>ID</th>
              <th>name</th>
              <th>Hp</th>
              <th class="datatable-nosort">Action</th>
            </tr>
            </thead>
            <tbody id="itemList">
            <tr class="bg-pink">
              <td >idx</td>
              <td>adminid</td>
              <td>name</td>
              <td>hp</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item view" href="#" onclick="pop_admin_view()"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item edit" href="#" onclick="pop_admin_edit()"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item delete" href="#" onclick="pop_admin_delete()"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            </tbody>


          </table>
          <div id="showPage" class="card-box">총 {{totalPages}}페이지 중 {{currentPage}}페이지</div>
          <div id="pageNum" class="dataTables_info" role="status"></div>


        </div>
      </div>
      <!-- Simple Datatable End -->
    </div>

  </div>
</div>
<div th:replace="adminpage/admin_layer/layer_admin_register"></div>
<div th:replace="adminpage/admin_layer/layer_admin_edit"></div>
<div th:replace="adminpage/admin_layer/layer_admin_view"></div>
<div th:replace="adminpage/admin_layer/pop_admin_delete"></div>
<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<script src="/js/admin/admin_list.js"></script>
<script src="/js/admin/admin_crud.js"></script>
<script>


</script>
<!-- js -->

</body>
</html>