<!DOCTYPE html>
<html lang="en">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<body>

<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">

            <!-- Simple Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20" >
                    <h4 class="text-blue h4">체결 내역</h4>
                </div>
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap" id="admin_conclusion">
                        <thead>
                        <tr>
                            <th class="table-plus datatable-nosort">번호</th>
                            <th>상품사진</th>
                            <th>상품번호</th>
                            <th>모델번호</th>
                            <th>상품명</th>
<!--                            <th>구매자</th>-->
<!--                            <th>판매자</th>-->
                            <th>사이즈</th>
                            <th>거래가</th>
                            <th>거래일</th>
                            <!-- <th class="datatable-nosort">Action</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="con_idx table-plus">1</td>
                            <td class="con_img">
                                <img
                                        src="https://kream-phinf.pstatic.net/MjAyMjEyMjBfMjk3/MDAxNjcxNTEzMDYxOTA2.Jp0OBsMQuTPS8uCyB0col6GJ31iep0y2Gw8rHrKPLqkg.oJmdcAciqE4-B8C_RTg8rbkgy5lGa_Ctdato4YQjejwg.JPEG/p_130feabb795f4f5ba08ac958570e8d8f.jpeg?type=m"
                                        width="80"
                                        height="80"
                                        alt=""
                                />
                            </td>
                            <td class="con_pro_idx">5</td>
                            <td class="con_modelNum">FV1198</td>
                            <td class="con_name">Adidas Padiham Black Green 아디다스 패디햄 블랙 그린</td>
<!--                            <td class="con_buyer">apple</td>-->
<!--                            <td class="con_seller">orange</td>-->
                            <td class="con_size">270</td>
                            <td class="con_price">170000</td>
                            <td class="con_createdAt"><time>2022-12-19</time></td>
<!--                            <td>-->
<!--                                <div class="dropdown">-->
<!--                                    <a-->
<!--                                            class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"-->
<!--                                            href="#"-->
<!--                                            role="button"-->
<!--                                            data-toggle="dropdown"-->
<!--                                    >-->
<!--                                        <i class="dw dw-more"></i>-->
<!--                                    </a>-->
<!--                                    <div-->
<!--                                            class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"-->
<!--                                    >-->
<!--                                        <a class="dropdown-item" href="#"-->
<!--                                        ><i class="dw dw-eye"></i> View</a-->
<!--                                        >-->

<!--                                        <a class="dropdown-item" href="#"-->
<!--                                        ><i class="dw dw-delete-3"></i> Delete</a-->
<!--                                        >-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
        </div>
    </div>
</div>
<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<!-- js -->
</body>
</html>
