<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<!--<link rel="stylesheet" href="/src/styles/layer.css">-->
<!--<link rel="stylesheet" href="/src/styles/pop_delete.css">-->
<body>

<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <!-- Simple Datatable start -->
      <div class="card-box mb-30" >
        <div class="pd-20" style="display: flex">
          <h4 class="text-blue h4">상품 리스트</h4>
<!--          <a href="/admin/products/create"-->
<!--             style="width: 100px; height: 25px; background-color: #1b00ff; color: white;-->
<!--             border-radius: 10px; margin-left: 22px;-->
<!--              text-align: center; align-items: center;"-->
<!--          >상품 추가</a>-->
          <button type="button" class="btn btn-primary m-t-15 waves-effect" onclick="pop_admin_register()">상품 추가</button>
<!--          <div class="create_pop" th:replace="/adminpage/admin_layer/pop_create_product :: create_product"></div>-->
          <!--제품사진/상품명/사이즈/브랜드/카테고리/최근거래가-->
        </div>
        <div class="card-box mb-30">
          <table class="data-table table nowrap">
            <thead>
            <tr>
              <th class="table-plus datatable-nosort">상품사진</th>
              <th>상품명</th>
              <th>사이즈</th>
              <th>브랜드</th>
              <th>카테고리</th>
              <th>최근거래가</th>
              <th>거래수</th>
              <th>총거래액</th>
              <th class="datatable-nosort">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/northface.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">The North Face 1996 Eco Nuptse Jacket Black</h5>
                노스페이스 1996 에코 눕시 자켓 블랙
              </td>
              <td>100</td>
              <td>The North Face</td>
              <td>outer</td>
              <td>232,000원</td>
              <td>3</td>
              <td>730,000원</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
<!--                    <div th:replace="/adminpage/admin_layer/layer_product_view :: product_view"></div>-->
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
<!--                    <div th:replace="/adminpage/admin_layer/layer_product_edit :: product_edit"></div>-->
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
<!--                    <div th:replace="/adminpage/admin_layer/pop_product_delete :: product_delete"></div>-->
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/nike.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">
                  Jordan 1 Retro High OG Chicago 2022</h5>
                조던 1 레트로 하이 OG 시카고 2022
              </td>
              <td>270</td>
              <td>Jordan</td>
              <td>shoes</td>
              <td>425,000원</td>
              <td>1</td>
              <td>425,000</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/apple.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">Apple AirPods Max Silver (Korean Ver.)</h5>
                애플 에어팟 맥스 실버 (국내 정식 발매 제품)
              </td>
              <td>ONE SIZE</td>
              <td>Apple</td>
              <td>Tech</td>
              <td>698,000원</td>
              <td>10</td>
              <td>6,752,000원</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/ugg.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">(W) UGG Classic Mini II Boots Chestnut</h5>
                (W) 어그 클래식 미니 2 부츠 체스트넛
              </td>
              <td>230</td>
              <td>UGG</td>
              <td>shoes</td>
              <td>279,000</td>
              <td>2</td>
              <td>580,000</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/ader.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">Ader Error x Zara Patchwork Oversize Knit Sweater Multicolor</h5>
                아더에러 x 자라 패치워크 오버사이즈 니트 스웨터 멀티컬러
              </td>
              <td>M</td>
              <td>Ader Error</td>
              <td>cloth</td>
              <td>270,000</td>
              <td>1</td>
              <td>270,000</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/northface.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">The North Face 1996 Eco Nuptse Jacket Black</h5>
                노스페이스 1996 에코 눕시 자켓 블랙
              </td>
              <td>100</td>
              <td>The North Face</td>
              <td>outer</td>
              <td>232,000원</td>
              <td>3</td>
              <td>730,000원</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/nike.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">
                  Jordan 1 Retro High OG Chicago 2022</h5>
                조던 1 레트로 하이 OG 시카고 2022
              </td>
              <td>270</td>
              <td>Jordan</td>
              <td>shoes</td>
              <td>425,000원</td>
              <td>1</td>
              <td>425,000</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/apple.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">Apple AirPods Max Silver (Korean Ver.)</h5>
                애플 에어팟 맥스 실버 (국내 정식 발매 제품)
              </td>
              <td>ONE SIZE</td>
              <td>Apple</td>
              <td>Tech</td>
              <td>698,000원</td>
              <td>10</td>
              <td>6,752,000원</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/ugg.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">(W) UGG Classic Mini II Boots Chestnut</h5>
                (W) 어그 클래식 미니 2 부츠 체스트넛
              </td>
              <td>230</td>
              <td>UGG</td>
              <td>shoes</td>
              <td>279,000</td>
              <td>2</td>
              <td>580,000</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <img
                        src="/vendors/images/ader.png"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td>
                <h5 class="font-16">Ader Error x Zara Patchwork Oversize Knit Sweater Multicolor</h5>
                아더에러 x 자라 패치워크 오버사이즈 니트 스웨터 멀티컬러
              </td>
              <td>M</td>
              <td>Ader Error</td>
              <td>cloth</td>
              <td>270,000</td>
              <td>1</td>
              <td>270,000</td>
              <td>
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                    >
                    <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- Simple Datatable End -->
      </div>

    </div>
  </div>
</div>
<div th:replace="adminpage/admin_layer/pop_create_product"></div>
<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<script src="/js/admin/admin_list.js"></script>
<script src="/js/admin/register.js"></script>
<!--<script src="/js/admin/admin_pop.js"></script>-->
<!--<block th:replace="js/admin/admin_pop :: admin_pop"></block>-->
<!-- js -->

</body>
</html>