<html>
<head>
<link rel="stylesheet" href="/src/styles/layer.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
		integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
	<div class="layer_user layer lg">
	<div class="layer_container">
		<a href="#" class="btn_layer_close">
			<div>
				<img src="/img/close.png">
			</div>
		</a>
		<div class="layer_header">
			<h2 class="title"> 관리자 등록페이지 </h2>
		</div>
			<div class="layer_content">
				<div class="bottom">
					<div class="user_bind">
						<div class="user_input">
							<div class="input_box" id="id_input_box">
								<h4 class="input_title">관리자 아이디</h4>
								<div class="input_item"><input type="text" autocomplete="off" class="input_txt" id="id_input"></div>
								<p class="input_error" id="id_input_error"></p>
							</div>
							<div class="input_box" id="password_input_box">
								<h4 class="input_title">관리자 비밀번호</h4>
								<div class="input_item"><input type="password"  autocomplete="off" class="input_txt" id="password_input"></div>
								<p class="input_error" id="password_input_error"></p>
							</div>
							<div class="input_box" id="name_input_box">
								<h4 class="input_title">관리자 이름</h4>
								<div class="input_item"><input type="text" autocomplete="off" class="input_txt" id="name_input"></div>
								<p class="input_error" id="name_input_error"></p>
							</div>
							<div class="input_box" id="hp_input_box">
								<h4 class="input_title">관리자 전화번호</h4>
								<div class="input_item"><input type="text" maxlength="13" oninput="autoHyphen(this)" autocomplete="off" class="input_txt" id="hp_input"></div>
								<p class="input_error" id="hp_input_error"></p>
							</div>
						</div>
					</div>
				</div>

				<div class="layer_btn">
					<a href="#" class="btn btn_delete outlinegrey medium"> 취소 </a>
					<a disabled="disabled" href="#" class="btn btn_save solid medium disabled"> 생성 </a>
				</div>
		</div>
	</div>
</div>
<script src="/js/admin/admin_crud.js"></script>
</html>