<!DOCTYPE html>
<html lang="en">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<body>

<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->
<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<!-- Simple Datatable start -->
			<div class="card-box mb-30" >
				<div class="pd-20">
					<h4 class="text-blue h4">판매 내역</h4>
				</div>
				<div class="pb-20" id="sell_table">
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="dataTables_length" id="DataTables_Table_0_length">
								<label style=" font-weight: normal; white-space: nowrap; text-align: left;">Show
									<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
										<option value="10">10</option><option value="25">25</option><option value="50">50</option>
									</select> entries
								</label>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div id="DataTables_Table_0_filter" class="dataTables_filter" style="text-align: right;padding-left: 15px; padding-right: 15px;">
								<label style=" font-weight: normal; white-space: nowrap; text-align: left; display: flex; align-items: center; justify-content: flex-end;">판매자:
									<input id="search_box" type="search" class="form-control form-control-sm" aria-controls="DataTables_Table_0" style="margin-left: 0.5em; width: auto;">
								</label>
							</div>
						</div>
					</div>
					<table class="data-table table stripe hover nowrap">
						<thead>
						<tr>
							<th class="table-plus datatable-nosort"><a>상품코드</a></th>
							<th class="order_num"><a>주문번호</a></th>
							<th class="seller"><a>판매자</a></th>
							<th class="size"><a>사이즈</a></th>
							<th>판매유형</th>
							<th class="price"><a>가격</a></th>
							<th class="period"><a>입찰기간</a></th>
							<th>판매상태</th>
							<th>등록날짜</th>
							<th class="datatable-nosort">Action</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="order_num">56876-56454</td>
							<td class="product_code">B10548</td>
							<td class="name">김사과</td>
							<td class="size">270</td>
							<td class="progress_status">즉시구매</td>
							<td class="price">300000</td>
							<td class="period">30일</td>
<!--							<td class="deposit">N</td>-->
							<td class="status">입고완료</td>
							<td class="reg_data">2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" id="view_btn" onclick="layer_sell_view()" style="cursor:pointer"
										><i class="dw dw-eye"></i> View</a>

										<a class="dropdown-item" id="delete_btn" onclick="pop_sell_delete()" style="cursor:pointer"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>

										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>

										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>

										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>

										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>

										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>

										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr><tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="table-plus">B10548</td>
							<td>56876-56454</td>
							<td>김사과</td>
							<td>270</td>
							<td>즉시구매</td>
							<td>300000</td>
							<td>30일</td>
							<td>N</td>
							<td>입고완료</td>
							<td>2022-12-14</td>
							<td>
								<div class="dropdown">
									<a
											class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											href="#"
											role="button"
											data-toggle="dropdown"
									>
										<i class="dw dw-more"></i>
									</a>
									<div
											class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
									>
										<a class="dropdown-item" href="#"
										><i class="dw dw-eye"></i> View</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-edit2"></i> Edit</a
										>
										<a class="dropdown-item" href="#"
										><i class="dw dw-delete-3"></i> Delete</a
										>
									</div>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite"></div></div>
						<div class="col-sm-12 col-md-7">
							<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
								<ul class="pagination">
									<li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
										<a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">
											<i class="ion-chevron-left"></i>
										</a>
									</li>
									<li class="paginate_button page-item active">
										<a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a>
									</li>
									<li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
										<a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">
											<i class="ion-chevron-right"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Simple Datatable End -->
		</div>
	</div>
</div>
<div th:replace="~{adminpage/admin_layer/layer_sell_view::sell_view}"></div>
<div th:replace="~{adminpage/admin_layer/pop_sell_delete::sell_delete}"></div>
<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<!-- js -->
<script src="/js/admin/sell.js"></script>

</body>
</html>