<!DOCTYPE html>
<html lang="en">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<body>

<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->

<link rel="stylesheet" href="/src/styles/pop_delete.css">
<link rel="stylesheet" href="/src/styles/style_view.css">


<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <!-- Simple Datatable start -->
      <div class="card-box mb-30" >
        <div class="pd-20" >
          <h4 class="text-blue h4">게시글 리스트</h4>
          <!--          <div><a href="#" ><img src="create.png" alt="등록하기"></a></div>-->
          <!--사진/userid/내용/태그된 상품/좋아요수/댓글수/날짜-->
        </div>
        <div class="card-box mb-30">
          <table class="data-table table nowrap" id="social_admin_table">
            <thead>
            <tr>
              <th class="table-plus datatable-nosort">사진</th>
              <th>사용자(ID)</th>
              <th>태그된 상품 개수</th>
              <th>좋아요수</th>
              <th>댓글수</th>
              <th>게시날짜</th>
              <!--              <th class="datatable-nosort">Action</th>-->
              <th>상세보기</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class=" feed_img table-plus">
                <img
                        src="https://kream-phinf.pstatic.net/MjAyMjEyMjBfMjk3/MDAxNjcxNTEzMDYxOTA2.Jp0OBsMQuTPS8uCyB0col6GJ31iep0y2Gw8rHrKPLqkg.oJmdcAciqE4-B8C_RTg8rbkgy5lGa_Ctdato4YQjejwg.JPEG/p_130feabb795f4f5ba08ac958570e8d8f.jpeg?type=m"
                        width="70"
                        height="70"
                        alt=""
                />
              </td>
              <td class="feed_nickname">
                <h5 class="font-16">sshw_calmfrog</h5>
<!--                kream_userid-->
              </td>
              <td class="feed_tags">3</td>
              <td class="feed_likes">100</td>
              <td class="feed_comments">13</td>
              <td class="feed_date"><time></time>
<!--                <script>-->
<!--                  date = new Date().toLocaleDateString();-->
<!--                  document.write(date);-->
<!--                </script>-->
              </td>
              <!--              <td>3</td>-->
              <!--              <td>730,000원</td>-->
              <td class="more">
                <div class="dropdown">
                  <a
                          class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                          href="#"
                          role="button"
                          data-toggle="dropdown"
                  >
                    <i class="dw dw-more"></i>
                  </a>
                  <div
                          class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                  >
                    <a class="dropdown-item" id="view_btn" onclick="pop_style_view()"
                    ><i class="dw dw-eye"></i> View</a
                    >

                    <!--                    <a class="dropdown-item" href="#"-->
                    <!--                    ><i class="dw dw-edit2"></i> Edit</a-->
                    <!--                    >-->
                    <a class="dropdown-item" id="delete_btn" onclick="pop_style_delete()"
                    ><i class="dw dw-delete-3"></i> Delete</a
                    >

                  </div>
                </div>
              </td>
              <div th:replace="/adminpage/admin_layer/pop_style_delete :: pop_style_delete"></div>
            </tr>




            </tbody>
          </table>
          <div th:replace="/adminpage/admin_layer/pop_style_view :: pop_style_view"></div>
<!--          <div th:replace="/adminpage/admin_layer/pop_style_delete :: pop_style_delete"></div>-->
        </div>
        <!-- Simple Datatable End -->
      </div>

    </div>
  </div>
</div>


<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<script src="/js/layer/pop_admin_style.js"></script>
<script>

</script>
<!-- js -->

</body>
</html>