<!DOCTYPE html>
<html lang="en">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<body>

<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">

      <!-- Simple Datatable start -->
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="text-blue h4">사용자 리스트</h4>
          <!--이름/아이디/전화번호/주소/회원상태/포인트-->
        </div>
        <div class="pb-20">
          <table class="data-table table stripe hover nowrap">
            <thead>
              <tr>
                <th class="table-plus datatable-nosort">Name</th>
                <th>ID</th>
                <th>Hp</th>
                <th>포인트 유형</th>
                <th>지급 포인트</th>
                <th>지급</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-plus">김사과</td>
                <td>apple</td>
                <td>010-1111-1111</td>
                <td>참여</td>
                <td>정상</td>
                <td>0</td>
                <td><input type="checkbox"></td>
              </tr>
            <tr>
              <td class="table-plus">반하나</td>
              <td>banana</td>
              <td>010-2222-2222</td>
              <td>제주특별자치도 서귀포시 중산간동로 8462-2  바나나나무</td>
              <td>정지</td>
              <td>0</td>
              <td><input type="checkbox"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Simple Datatable End -->
    </div>

  </div>
</div>
<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<!-- js -->

</body>
</html>