<!DOCTYPE html>
<html lang="en">
<!--head 시작 -->
<div th:replace="fragment/adminhead :: head"></div>
<!--head 끝 -->
<body>

<!-- header 시작 -->
<div th:replace="fragment/adminheader :: header"></div>
<!-- header 끝 -->
<!-- right-sidebar 시작 -->
<div th:replace="fragment/adminrightsidebar :: rightsidebar"></div>
<!-- right-sidebar 끝 -->
<!-- left-side-bar 시작 -->
<div th:replace="fragment/adminnavbar :: navbar"></div>
<!-- left-side-bar 끝 -->
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <!-- Simple Datatable start -->
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="text-blue h4">포인트 리스트</h4>
          <!--이름/아이디/전화번호/주소/회원상태/포인트-->
        </div>
        <div class="pb-20">
          <table class="data-table table stripe hover nowrap">
            <thead>
            <tr>
              <th class="table-plus datatable-nosort">Name</th>
              <th>ID</th>
              <th>Hp</th>
              <th>포인트 유형</th>
              <th>지급 포인트</th>
            </tr>
            </thead>
            <tbody id="list_body">
            <tr>
              <td class="table-plus" id="list_name">김사과</td>
              <td id="list_email">apple</td>
              <td id="list_hp">010-1111-1111</td>
              <td id="list_reason">참여</td>
              <td id="list_point">정상</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Simple Datatable End -->
    </div>

  </div>
</div>
<!-- js -->
<div th:replace="fragment/adminjs :: js"></div>
<!-- js -->

</body>
</html>