<link rel="stylesheet" href="/src/styles/layer.css">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="event_edit" class="layer_event_edit layer lg" style="display: none">
    <div class="layer_container">
        <a class="btn_layer_close" onclick="close_event_edit()">
            <div>
                <img src="/img/close_white.png">
            </div>
        </a>
        <div class="layer_header">
            <h2 class="title">이벤트 수정 페이지</h2>
        </div>
        <div class="layer_content">
            <div class="top">
                <div class="user_bind">
                    <div class="user_input">
                        <div class="input_box">
                            <h4 class="input_title">이벤트명</h4>
                            <div class="input_item">
                                <input type="text" name="event_name" placeholder="이벤트명" id="e_event_input">
                            </div>
                        </div>
                        <div class="input_box">
                            <h4 class="input_title">상품명</h4>
                            <div class="input_item">
                                <input type="text" name="product_name" placeholder="상품명" id="e_pro_input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user_bind img">
                    <div class="uploadImg">
                        <div class="filebox">
                            <input class="upload-name" value="첨부파일" style="color: #FFF">
                            <label for="fileItem2">파일찾기</label>
                            <input type="file" id ="fileItem2" name="uploadFile2" onchange="load_event_img_edit(this)">
                        </div>
                        <img src="" id="previewImgEdit">
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="user_bind">
                    <div class="user_input">
                        <div class="input_box">
                            <h4 class="input_title">이벤트 시작 날짜/시간</h4>
                            <div class="input_item">
                                <input type="datetime-local" name="event_start" placeholder="이벤트 시작 날짜/시간" id="e_startTime_input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user_bind">
                    <div class="user_input">
                        <div class="input_box">
                            <h4 class="input_title">이벤트 마감 날짜/시간</h4>
                            <div class="input_item">
                                <input type="datetime-local" name="event_end" placeholder="이벤트 시작 날짜/시간" id="e_endTime_input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layer_btn">
                <a class="btn btn_save solid medium" id="edit_btn" onclick="close_event_edit()" style="color: #FFFFFF;">수정</a>
            </div>
        </div>
    </div>
</div>
