<link rel="stylesheet" href="./src/styles/pop_point.css">
<div class="layer_name pop layer lg" id="black_list_layer" th:fragment="black_list" style="display: none">
    <div class="layer_container">
        <a href="#" class="btn_layer_close">
            <div>
                <img src="/img/close_white.png">
            </div>
        </a>

        <div class="layer_header">
            <h2 class="title"> 블랙리스트 </h2>
        </div>
        <div class="layer_content">
            <div class="top">
                <div class="user_bind">
                    <div class="user_input">
                        <div class="input_box ">
                            <h4 class="input_title">블랙리스트 등록</h4>
                            <!-- 사용자 아이디 시작 -->
                            <div class="input_item">
                                <p class="title">사용자ID</p>
                                <p class="info" id="black_list_name">apple</p>
                            </div>
                            <!-- 사용자 아이디 끝 -->

                            <!-- 지급 이유 시작 -->
                            <div class="input_item">
                                <p class="title">정지 사유</p>
                                <select class="info" name="reason" id="select2">
                                    <option value="1">가품 거래 시도</option>
                                    <option value="2">부정거래</option>
                                    <option value="3">명의/결제도용</option>
                                    <option value="4">패널티 회피, 미결제</option>
                                    <option value="5">스타일 불량 게시물</option>
                                    <option value="6">상담원에게 폭언</option>
                                </select>
                            </div>
                            <!-- 지급 이유 끝 -->

                            <!-- 정지 기간 시작 -->
                            <!--삭제-->
                            <!-- 정지 기간 끝 -->
                        </div>

                    </div>
                </div>
            </div>

            <div class="layer_btn">
                <a href="#" class="btn btn_save solid medium" id="black_list_submit">확인</a>
                <a href="#" class="btn btn_save solid medium " onclick="pop_black_list_close()"> 취소 </a>
            </div>
        </div>
    </div>
</div>
