<link rel="stylesheet" href="./src/styles/pop_delete.css">
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="buy_delete" class="buy_delete layer pop lg" style="display: none;" >

    <div class="layer_container">
        <a href="#" class="btn_layer_close" onclick="close_buy_delete()">
            <div>
                <img src="/img/close_white.png">
            </div>
        </a>

        <div class="layer_header">
            <h2 class="title"> 구매내역 삭제 </h2>
        </div>
        <div class="layer_content">
        <div class="top">
            <div class="user_bind">
                <div class="user_input">
                    <div class="input_box ">
                        <h4 class="input_title" style="color: red;">경고</h4>
                        <div class="input_item">
                            <p>해당 구매내역을 </p>
                                <h3>삭제</h3>
                            <p>하시겠습니까?</p>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>

        <div class="layer_btn">
            <a href="#" class="btn btn_delete solid medium">확인</a>
            <a href="#" class="btn solid medium" onclick="close_buy_delete()"> 취소 </a>
        </div>
        </div>
    </div>
</div>

</html>