@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


.header.lg, .header.md{
    min-height: 100px;
    border-bottom: 1px solid #E5E5E5;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}

.header .header_top{
    /*-webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);*/
    /*box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);*/
}

.header .top_inner {
    /*display: -webkit-box;*/
    display: flex;
    padding: 8px 40px;
}

.header .top_list {
    /*display: -webkit-box;*/
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header .top_link{
    /*display: -webkit-box;*/
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.8);
}

.header .top_item+.top_item{
    margin-left: 24px;
}

.header .main_inner {
    /*display: -webkit-box;*/
    display: flex;
    padding: 0 40px;
    height: 68px;
    min-width: 320px;
    -webkit-box-align: center;
    align-items: center;
}

.header .logo{
    display: -webkit-box;
    display: flex;
    width: 120px;
    height: 24px;
}
.header .gnb_area, .header .gnb_list{
    /*display: -webkit-box;*/
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.header .gnb_area{
    margin-left: auto;
}

.header .gnb_item{
    margin-right: 40px;
}

.header .gnb_item.gnb_on .gnb_link{
    font-weight: 700;
}

.header .gnb_link, .header .search_btn_box {
    /*display: -webkit-box;*/
    display: flex;
}

.header .gnb_link{
    position: relative;
    font-size: 15px;
    letter-spacing: -.15px;
}

.header .gnb_item.gnb_on .gnb_link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    background-color: #222;
    height: 2px;
}

.header .btn_search {
    display: inherit;
    border: none!important;
}

.header .nav-search {
    width: 28px;
    height: 28px;
}

.search_area .search{
    position: relative;
    padding: 0 40px 0 44px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.search_area .ico-search-gray {
    position: absolute;
    top: 8px;
    left: 12px;
}

[class*=ico-] {
    width: 24px;
    height: 24px;
}
.search_area .input_search{
    width: 100%;
    height: 100%;
    /*-webkit-transition: all .1s;*/
    /*-o-transition: all .1s;*/
    transition: all .1s;
    font-size: 14px;
    letter-spacing: -.21px;
}

.search_area .btn_search_delete{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
}

.header .nav_btn_box {
    display: none;
}

.header .btn_search {
    display: inherit;
    border: none!important;
}

.navigation_wrap{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.navigation_wrap .navigation{
    display: block;
    position: fixed;
    z-index: 1010;
    top: 0;
    right: -79.4%;
    bottom: 0;
    width: 79.4%;
    background-color: #fff;
    padding-top: 60px;
    overflow-y: auto;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.navigation_wrap .navigation_inner{
    position: relative;
    padding-bottom: 55px;
    min-height: 100%;
}

.navigation_wrap .nav_list .nav_item {
    border-bottom: 1px solid #ebebeb;
}

.navigation_wrap .nav_list .nav_link{
    display: block;
    padding: 19px 20px 18px;
    height: 100%;
    font-size: 15px;
    letter-spacing: -.15px;
    font-weight: 700;
}
.navigation_wrap .nav_list .nav_item{
    border-bottom: 1px solid #ebebeb;
}







.social_header{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 16px;
    background-color: #fff;
}

.style_tab_list{
    /*display: -webkit-box;*/
    padding-top: 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.tab_item {
    padding: 8px 14px;
    min-width: 59px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -.27px;
}

.tab_item.tab_on{
    background-color: #222;
    color: #fff;
    font-weight: 700;
    border-radius: 19px;
}












*, :after, :before {
    /*-webkit-box-sizing: border-box;*/
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
body, button, input, select, table, textarea {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,AppleSDGothicNeo-Regular,NanumBarunGothic,NanumGothic,나눔고딕,Segoe UI,Helveica,Arial,Malgun Gothic,Dotum,sans-serif;
    color: #222;
}
li, ol, ul {
    list-style: none;
}
ul {
    /*display: block;*/
    /*list-style-type: disc;*/
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*padding-inline-start: 40px;*/
}
a, a:active, a:focus, a:hover {
    text-decoration: none;
    color: #222;
}
a {
    /*color: inherit;*/
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
    text-decoration: none;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
nav {
    display: block;
}
button {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    background-color: transparent;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    appearance: none;
    border-radius: 0;
}



.lg .layer_search .search_content_wrap, .lg .layer_search .search_wrap, .lg .layer_search .suggest_area {
    width: 800px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.layer_search{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(34,34,34,.5);
    overflow-y: auto;
}
.layer_search .search1 .input_search {
    width: 770px;
}
.search1 {
    width: 500px;
    -webkit-box-flex: 0;
    flex: none;
    -webkit-box-ordinal-group: 1;
    order: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 8px;
    /*padding-bottom: 16px;*/
    border-bottom: 3px solid #000;
}
.layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34,34,34,.5);
    z-index: 1010;
}
.layer_search .layer_container {
    border-radius: unset!important;
    width: unset;
    position: unset;
    -webkit-transform: unset;
    transform: unset;
    height: 100%;
    overflow-y: scroll;
}
.layer_container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 448px;
    border-radius: 16px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
}
.btn_layer_close {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}
.layer_search .search_container, .layer_search .search_content_wrap, .layer_search .suggest_wrap {
    background-color: #fff;
}
.lg .layer_search .search_wrap {
    padding-top: 50px;
}
.lg .layer_search .search_content_wrap, .lg .layer_search .search_wrap, .lg .layer_search .suggest_area {
    width: 800px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.lg .layer_search .search_wrap {
    padding-top: 50px;
}
.layer_search .search_wrap {
    display: -webkit-box;
    display: flex;
}
.layer_search .search_wrap .search_area {
    -webkit-box-flex: 1;
    flex: 1;
}
.layer_search .search1 {
    width: 100%;
    margin: 0;
}
.search {
    width: 500px;
    -webkit-box-flex: 0;
    flex: none;
    -webkit-box-ordinal-group: 1;
    order: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 0 8px;
    padding-bottom: 16px;
    border-bottom: 3px solid #000;
}
.search1 .input_search {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 29px;
    padding: 0 13px 0 1px;
    width: 468px;
    letter-spacing: -.015em;
}
.search1 .btn_search_delete {
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-right: 3px;
}

.lg .layer_search .btn_close {
    display: none;
}
.layer_search .search_wrap .btn_close {
    margin-left: auto;
}
.lg .layer_search .search_content_wrap {
    margin-top: 20px;
}
.lg .layer_search .search_content_wrap, .lg .layer_search .search_wrap, .lg .layer_search .suggest_area {
    width: 800px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.layer_search_item.tag {
    margin-bottom: 28px;
}
.layer_search_item {
    display: block;
    margin-bottom: 40px;
}
.layer_search_title_wrap {
    margin-bottom: 12px;
}
.layer_search_title_wrap .title {
    font-size: 16px;
    font-weight: 700;
}
.layer_search_title_wrap .title_sub_text {
    display: inline;
    margin-left: 5px;
    font-size: 13px;
    color: rgba(34,34,34,.8);
}
.search_card_tag_wrap {
    line-height: 13px;
}
.search_card_tag {
    max-width: 142px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34,34,34,.8);
    background: #f4f4f4;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    padding: 8px 12px;
    display: inline-block;
    margin: 0 8px 12px 0;
}
.layer_search_item.ranking {
    margin-bottom: 24px;
}
.layer_search_title_wrap .title_sub_text {
    display: inline;
    margin-left: 5px;
    font-size: 13px;
    color: rgba(34,34,34,.8);
}
.layer_search_title_wrap .title_sub_text span {
    cursor: unset;
}
.search_card_ranking{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style: none;
    line-height: 17px;
    font-size: 14px;
}
.search_card_ranking .search_card_ranking_item{
    padding: 4px 0 16px;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
}

.search_card_ranking .ranking_idx{
    font-weight: 600;
    margin-right: 6px;
}
.search_card_ranking .ranking_title{
    font-weight: 400;
    margin-right: 6px;
    max-width: 108px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
.search_card_ranking{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style: none;
    line-height: 17px;
    font-size: 14px;
}
.search_card_ranking .ranking_description{
    font-size: 10px;
    color: #f15746;
    line-height: 12px;
    font-weight: 600;
}
.shortcut_items {
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    grid-row-gap: 12px;
    row-gap: 12px;
}
.shortcut_item {
    text-align: center;
    cursor: pointer;
}
.lg .shortcut_item_img_wrap {
    padding-top: 0;
    height: 80px;
    border-radius: 10px;
}
.shortcut_item_img_wrap{
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    border-radius: 50%;
}
.lg .shortcut_item_img_bg {
    -webkit-transform: translateZ(10px);
    transform: translateZ(10px);
}

.shortcut_item_img_wrap {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    border-radius: 50%;
}
.lg .shortcut_item_title {
    margin-top: 8px;
}
.shortcut_item_title {
    width: 100%;
    font-size: 13px;
    display: -webkit-box;
    letter-spacing: -.7px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-top: 6px;
    word-wrap: break-word;
}
.layer_search_item{
    display: block;
    margin-bottom: 40px;
}
.layer_search_item.recent_products {
    padding-bottom: 82px;
}
.layer_search_title_wrap .title_sub_text a {
    text-decoration: underline;
}
.recent_product_wrap {
    overflow-x: auto;
    overflow-y: hidden;
}
.recent_product_wrap .recent_product_list {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}
.recent_product {
    width: 80px;
    display: inline-block;
    margin-right: 8px;
}
.recent_product .image, .recent_product .recent_product_img, .recent_product .recent_product_img_wrap {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.recent_product_name {
    font-size: 11px;
    display: -webkit-box;
    letter-spacing: -.7px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: keep-all;
    margin-top: 6px;
    word-wrap: break-word;
}
.shortcut_item_img_wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(34,34,34,.05);
}
.shortcut_item_title {
    font-size: 15px;
    letter-spacing: -.15px;
    color: #333;
    margin-top: 8px;
}
.shortcut_item_img_wrap>.shortcut_item_img_bg {
    overflow: hidden;
    height: 100%;
}
.test::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* shop 검색창 부분*/
.suggest_list {
    max-height: 480px;
    padding-right: 40px;
    border: 1px solid silver;
    background: #fff;
    /*border: 1px solid silver;*/
    font-size: 15px;
    overflow-y: scroll;
}

.suggest_item {
    height: 84px;
    border-bottom: 1px solid #ebebeb;
}

.suggest_item:hover { background-color: rgba(0,0,0,.01);}

.suggest_link { display: flex; align-items: center; height: 100%; }

.suggest_link .suggest_thumb {
    overflow: hidden;
    margin-right: 7px;
    width: 70px;
    height: 70px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 8px;
}

.suggest_link .thumb_img {
    width: 100%;
    height: 100%;
}

.suggest_link .model_title {
    font-size: 14px;
}

.suggest_link .model_sub_info, .suggest_link .model_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.suggest_link .model_sub_info {
    margin-top: 2px;
    font-size: 12px;
    color: rgba(34,34,34,.5);
}

.suggest_area .more_link {
    position: absolute;
    top: 5px;
    right: 50px;
    font-size: 0;
}
.suggest_area .more_text {
    margin-top: 1px;
    margin-right: 2px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 16px;
    color: #000;
}
.suggest_area .ico-arr-right {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
}

