div {
    display: block;
}
body, html {
    height: 100%;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, a:active, a:focus{
    color:none;
}
a:-webkit-any-link {
    cursor: pointer;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
nav {
    display: block;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
li, ol, ul {
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
}
body, button, input, select, table, textarea {
    color: #222;
}
body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}



.snb_menu{
    margin: 0;
}
.snb_main_title {
    line-height: 29px;
    padding-bottom: 30px;
    font-size: 24px;
    letter-spacing: -.36px;
    font-weight: 700;
    letter-spacing: -.15px;
    padding-bottom: 30px;
}
.snb_area {
    float: left;
    width: 180px;
    margin-right: 20px;
}
.snb_list+.snb_list {
    margin-top: 40px;
}
.snb_title {
    line-height: 22px;
    margin-bottom: 12px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    letter-spacing: -.27px;
    font-weight: 700;
}
.menu_item{
    margin: 0;
}
.menu_item+.menu_item {
    margin-top: 12px;
}
.menu_item.menu_on .menu_link {
    color: #222;
    font-weight: 700;
}
.menu_link {
    line-height: 18px;
    font-size: 15px;
    letter-spacing: -.15px;
    color: rgba(34,34,34,.5);
}
.container.my {
    margin: 0 auto;
    padding: 40px 40px 160px;
    max-width: 1280px;
}
.container{
    margin: 40px 40px 160px 40px;
}
.menu_select{
    font-weight: 800;
    color:black;
}
