body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body, button, input, select, table, textarea {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,AppleSDGothicNeo-Regular,NanumBarunGothic,NanumGothic,나눔고딕,Segoe UI,Helveica,Arial,Malgun Gothic,Dotum,sans-serif;
    color: #222;
}
body, html {
    height: 100%;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
li, ol, ul {
    list-style: none;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a, a:active, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}
input, textarea {
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: transparent;
}
button {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
img, video {
    border: 0;
    vertical-align: top;
    -moz-user-select: none!important;
    user-select: none!important;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
#__layout {
    opacity: 1;
}
.wrap {
    position: relative;
    padding-top: 100px;
    overflow-anchor: none;
}
.header.is_scroll {
    /*-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);*/
    /*box-shadow: 0 1px 0 0 rgba(0,0,0,.1);*/
}
.header.lg, .header.md {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    min-height: 100px;
}
.header.lg, .header.md {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    min-height: 100px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}
.header .header_top{
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}
.header .top_inner{
    display: -webkit-box;
    display: flex;
    padding: 8px 40px;
}
.header .top_list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
}
.header .top_link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.8);
}
.header .top_item+.top_item {
    margin-left: 24px;
}
.header .main_inner {
    display: -webkit-box;
    display: flex;
    padding: 0 40px;
    height: 68px;
    min-width: 320px;
    -webkit-box-align: center;
    align-items: center;
}
.header .logo {
    display: -webkit-box;
    display: flex;
    width: 200px;
    height: 100;
}

.header .gnb_area, .header .gnb_list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.header .gnb_area {
    margin-left: auto;
}
.header .gnb_item {
    margin-right: 40px;
}
.header .gnb_link, .header .search_btn_box {
    display: -webkit-box;
    display: flex;
}
.header .gnb_link {
    position: relative;
    font-size: 15px;
    letter-spacing: -.15px;
}
.header .btn_search{
    display: inherit;
    border: none!important;
}
.header .nav-search{
    width: 28px;
    height: 28px;
}
.search_area .search{
    position: relative;
    padding: 0 40px 0 44px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 8px;
}
.search_area .ico-search-gray {
    position: absolute;
    top: 8px;
    left: 12px;
}
[class*=ico-] {
    width: 24px;
    height: 24px;
}
.search_area .input_search{
    width: 100%;
    height: 100%;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    font-size: 14px;
    letter-spacing: -.21px;
}
.search_area .btn_search_delete{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
}
.header .nav_btn_box {
    display: none;
}
.header .btn_search{
    display: inherit;
    border: none!important;
}
.navigation_wrap{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}
.navigation_wrap .navigation{
    display: block;
    position: fixed;
    z-index: 1010;
    top: 0;
    right: -79.4%;
    bottom: 0;
    width: 79.4%;
    background-color: #fff;
    padding-top: 60px;
    overflow-y: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
.navigation_wrap .navigation_inner{
    position: relative;
    padding-bottom: 55px;
    min-height: 100%;
}
.navigation_wrap .nav_list .nav_item{
    border-bottom: 1px solid #ebebeb;
}
.navigation_wrap .nav_list .nav_link {
    display: block;
    padding: 19px 20px 18px;
    height: 100%;
    font-size: 15px;
    letter-spacing: -.15px;
    font-weight: 700;
}
.navigation_wrap .nav_list .nav_item:last-child {
    border-bottom: 0;
}
.navigation_wrap .nav_logout {
    padding: 12px 0 0 20px;
}
.navigation_wrap .nav_logout .btn_logout {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: -.21px;
    color: #f15746;
}
.navigation_wrap .nav_logout .text_mail {
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.5);
}
.navigation_wrap .nav_logout~.nav_download {
    margin-top: 53px;
}
.navigation_wrap .nav_download{
    margin-top: 30px;
    margin-left: 20px;
}
.navigation_wrap .nav_download .download_txt{
    font-size: 12px;
    color: rgba(34,34,34,.8);
}
.navigation_wrap .nav_download .btn_appdown{
    margin-top: 12px;
}
.navigation_wrap .nav_download .btn_appdown .btn{
    padding: 0 11px;
    height: 40px;
    line-height: 38px;
}
.outline {
    border: 1px solid #d3d3d3;
}
.medium{
    padding: 0 18px;
    height: 42px;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: -.14px;
}
.btn{
    display: -webkit-inline-box;
    display: inline-flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: rgba(34,34,34,.8);
    background-color: #fff;
}
.navigation_wrap .btn_nav_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 11px;
    line-height: 0;
}
/*.lg .layer_search .search_content_wrap, .lg .layer_search .search_wrap, .lg .layer_search .suggest_area {*/
/*    width: 800px;*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*    margin: 0 auto;*/
/*    overflow: hidden;*/
/*}*/
/*.layer_search{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 100%;*/
/*    background-color: rgba(34,34,34,.5);*/
/*    overflow-y: auto;*/
/*}*/
/*.layer_search .search1 .input_search {*/
/*    width: 770px;*/
/*}*/
/*.search1 {*/
/*    width: 500px;*/
/*    -webkit-box-flex: 0;*/
/*    flex: none;*/
/*    -webkit-box-ordinal-group: 1;*/
/*    order: 0;*/
/*    -webkit-box-flex: 1;*/
/*    flex-grow: 1;*/
/*    margin: 0 8px;*/
/*    padding-bottom: 16px;*/
/*    border-bottom: 3px solid #000;*/
/*}*/
/*.layer {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(34,34,34,.5);*/
/*    z-index: 1010;*/
/*}*/
/*.layer_search .layer_container {*/
/*    border-radius: unset!important;*/
/*    width: unset;*/
/*    position: unset;*/
/*    -webkit-transform: unset;*/
/*    transform: unset;*/
/*    height: 100%;*/
/*    overflow-y: scroll;*/
/*}*/
/*.layer_container {*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -webkit-transform: translate(-50%,-50%);*/
/*    transform: translate(-50%,-50%);*/
/*    background-color: #fff;*/
/*    width: 448px;*/
/*    border-radius: 16px;*/
/*    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);*/
/*    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);*/
/*}*/
/*.btn_layer_close {*/
/*    position: absolute;*/
/*    top: 18px;*/
/*    right: 20px;*/
/*    cursor: pointer;*/
/*}*/
/*.layer_search .search_container, .layer_search .search_content_wrap, .layer_search .suggest_wrap {*/
/*    background-color: #fff;*/
/*}*/
/*.lg .layer_search .search_wrap {*/
/*    padding-top: 50px;*/
/*}*/
/*.lg .layer_search .search_content_wrap, .lg .layer_search .search_wrap, .lg .layer_search .suggest_area {*/
/*    width: 800px;*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*    margin: 0 auto;*/
/*    overflow: hidden;*/
/*}*/
/*.lg .layer_search .search_wrap {*/
/*    padding-top: 50px;*/
/*}*/
/*.layer_search .search_wrap {*/
/*    display: -webkit-box;*/
/*    display: flex;*/
/*}*/
/*.layer_search .search_wrap .search_area {*/
/*    -webkit-box-flex: 1;*/
/*    flex: 1;*/
/*}*/
/*.layer_search .search1 {*/
/*    width: 100%;*/
/*    margin: 0;*/
/*}*/
/*.search {*/
/*    width: 500px;*/
/*    -webkit-box-flex: 0;*/
/*    flex: none;*/
/*    -webkit-box-ordinal-group: 1;*/
/*    order: 0;*/
/*    -webkit-box-flex: 1;*/
/*    flex-grow: 1;*/
/*    margin: 0 8px;*/
/*    padding-bottom: 16px;*/
/*    border-bottom: 3px solid #000;*/
/*}*/
/*.search1 .input_search {*/
/*    overflow: hidden;*/
/*    -o-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*    font-size: 24px;*/
/*    font-weight: 700;*/
/*    color: #000;*/
/*    line-height: 29px;*/
/*    padding: 0 13px 0 1px;*/
/*    width: 468px;*/
/*    letter-spacing: -.015em;*/
/*}*/
/*.search1 .btn_search_delete {*/
/*    float: right;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    margin-top: 3px;*/
/*    margin-right: 3px;*/
/*}*/

/*.lg .layer_search .btn_close {*/
/*    display: none;*/
/*}*/
/*.layer_search .search_wrap .btn_close {*/
/*    margin-left: auto;*/
/*}*/
/*.lg .layer_search .search_content_wrap {*/
/*    margin-top: 20px;*/
/*}*/
/*.lg .layer_search .search_content_wrap, .lg .layer_search .search_wrap, .lg .layer_search .suggest_area {*/
/*    width: 800px;*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*    margin: 0 auto;*/
/*    overflow: hidden;*/
/*}*/
/*.layer_search_item.tag {*/
/*    margin-bottom: 28px;*/
/*}*/
/*.layer_search_item {*/
/*    display: block;*/
/*    margin-bottom: 40px;*/
/*}*/
/*.layer_search_title_wrap {*/
/*    margin-bottom: 12px;*/
/*}*/
/*.layer_search_title_wrap .title {*/
/*    font-size: 16px;*/
/*    font-weight: 700;*/
/*}*/
/*.layer_search_title_wrap .title_sub_text {*/
/*    display: inline;*/
/*    margin-left: 5px;*/
/*    font-size: 13px;*/
/*    color: rgba(34,34,34,.8);*/
/*}*/
/*.search_card_tag_wrap {*/
/*    line-height: 13px;*/
/*}*/
/*.search_card_tag {*/
/*    max-width: 142px;*/
/*    overflow: hidden;*/
/*    -o-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*    font-size: 14px;*/
/*    letter-spacing: -.21px;*/
/*    color: rgba(34,34,34,.8);*/
/*    background: #f4f4f4;*/
/*    border: 1px solid #ebebeb;*/
/*    border-radius: 20px;*/
/*    padding: 8px 12px;*/
/*    display: inline-block;*/
/*    margin: 0 8px 12px 0;*/
/*}*/
/*.layer_search_item.ranking {*/
/*    margin-bottom: 24px;*/
/*}*/
/*.layer_search_title_wrap .title_sub_text {*/
/*    display: inline;*/
/*    margin-left: 5px;*/
/*    font-size: 13px;*/
/*    color: rgba(34,34,34,.8);*/
/*}*/
/*.layer_search_title_wrap .title_sub_text span {*/
/*    cursor: unset;*/
/*}*/
/*.search_card_ranking{*/
/*    -webkit-column-count: 2;*/
/*    -moz-column-count: 2;*/
/*    column-count: 2;*/
/*    list-style: none;*/
/*    line-height: 17px;*/
/*    font-size: 14px;*/
/*}*/
/*.search_card_ranking .search_card_ranking_item{*/
/*    padding: 4px 0 16px;*/
/*    cursor: pointer;*/
/*    display: -webkit-box;*/
/*    display: flex;*/
/*}*/

/*.search_card_ranking .ranking_idx{*/
/*    font-weight: 600;*/
/*    margin-right: 6px;*/
/*}*/
/*.search_card_ranking .ranking_title{*/
/*    font-weight: 400;*/
/*    margin-right: 6px;*/
/*    max-width: 108px;*/
/*    overflow: hidden;*/
/*    -o-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    display: inline-block;*/
/*    white-space: nowrap;*/
/*}*/
/*.search_card_ranking{*/
/*    -webkit-column-count: 2;*/
/*    -moz-column-count: 2;*/
/*    column-count: 2;*/
/*    list-style: none;*/
/*    line-height: 17px;*/
/*    font-size: 14px;*/
/*}*/
/*.search_card_ranking .ranking_description{*/
/*    font-size: 10px;*/
/*    color: #f15746;*/
/*    line-height: 12px;*/
/*    font-weight: 600;*/
/*}*/
/*.shortcut_items {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5,minmax(0,1fr));*/
/*    grid-column-gap: 8px;*/
/*    -webkit-column-gap: 8px;*/
/*    -moz-column-gap: 8px;*/
/*    column-gap: 8px;*/
/*    grid-row-gap: 12px;*/
/*    row-gap: 12px;*/
/*}*/
/*.shortcut_item {*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*}*/
/*.lg .shortcut_item_img_wrap {*/
/*    padding-top: 0;*/
/*    height: 80px;*/
/*    border-radius: 10px;*/
/*}*/
/*.shortcut_item_img_wrap{*/
/*    padding-top: 100%;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    border: 1px solid #f0f0f0;*/
/*    color: #f0f0f0;*/
/*    border-radius: 50%;*/
/*}*/
/*.lg .shortcut_item_img_bg {*/
/*    -webkit-transform: translateZ(10px);*/
/*    transform: translateZ(10px);*/
/*}*/

/*.shortcut_item_img_wrap {*/
/*    padding-top: 100%;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    border: 1px solid #f0f0f0;*/
/*    color: #f0f0f0;*/
/*    border-radius: 50%;*/
/*}*/
/*.lg .shortcut_item_title {*/
/*    margin-top: 8px;*/
/*}*/
/*.shortcut_item_title {*/
/*    width: 100%;*/
/*    font-size: 13px;*/
/*    display: -webkit-box;*/
/*    letter-spacing: -.7px;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-line-clamp: 2;*/
/*    overflow: hidden;*/
/*    -o-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    word-break: keep-all;*/
/*    margin-top: 6px;*/
/*    word-wrap: break-word;*/
/*}*/
/*.layer_search_item{*/
/*    display: block;*/
/*    margin-bottom: 40px;*/
/*}*/
/*.layer_search_item.recent_products {*/
/*    padding-bottom: 82px;*/
/*}*/
/*.layer_search_title_wrap .title_sub_text a {*/
/*    text-decoration: underline;*/
/*}*/
/*.recent_product_wrap {*/
/*    overflow-x: auto;*/
/*    overflow-y: hidden;*/
/*}*/
/*.recent_product_wrap .recent_product_list {*/
/*    width: -webkit-max-content;*/
/*    width: -moz-max-content;*/
/*    width: max-content;*/
/*    display: -webkit-box;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding-bottom: 15px;*/
/*}*/
/*.recent_product {*/
/*    width: 80px;*/
/*    display: inline-block;*/
/*    margin-right: 8px;*/
/*}*/
/*.recent_product .image, .recent_product .recent_product_img, .recent_product .recent_product_img_wrap {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 10px;*/
/*}*/

/*.recent_product_name {*/
/*    font-size: 11px;*/
/*    display: -webkit-box;*/
/*    letter-spacing: -.7px;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-line-clamp: 2;*/
/*    overflow: hidden;*/
/*    -o-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    word-break: keep-all;*/
/*    margin-top: 6px;*/
/*    word-wrap: break-word;*/
/*}*/

.container{
    overflow: hidden;
    position: relative;
}
.download_banner {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    z-index: 100;
}
.download_banner .banner_box{
    padding: 0 24px;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.download_banner .thumb{
    margin-top: 2px;
    margin-right: 8px;
}
.download_banner .logo-app{
    width: 40px;
    height: 40px;
}
.download_banner .banner_info{
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.8);
}
.download_banner .banner_info .btn_appdown{
    text-decoration: underline;
}
.download_banner .btn_close{
    margin-top: 2px;
    margin-left: auto;
}
.download_banner .btn_close .ico-nav-close{
    width: 18px;
    height: 18px;
}
.home_card_list{
    padding-bottom: 160px;
}
.banner_slide{
    overflow: hidden;
    position: relative;
    max-height: 480px;
}
.banner_slide .slick-arrow.slick-prev {
    left: 0;
    z-index: 1;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTUwIDYwTDMwIDQwbDIwLTIwIi8+PC9zdmc+) no-repeat;
}
.banner_slide .slick-arrow {
    position: absolute;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    width: 80px;
    height: 80px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}
.banner_slide .slick-slide {
    float: left;
}
.banner {
    overflow: hidden;
    vertical-align: top;
    max-height: 480px;
}
.banner .banner_item {
    position: relative;
}
.banner .banner_item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}
.banner .item_inner{
    margin: 0 auto;
    width: 45vw;
    max-height: 480px;
}
.banner .img_box {
    position: relative;
    padding-top: 100%;
}
.banner .banner_img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-height: 480px;
}
.banner_slide .slick-arrow.slick-next {
    right: 0;
    z-index: 1;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTMwIDIwbDIwIDIwLTIwIDIwIi8+PC9zdmc+) no-repeat;
}
.banner_slide .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.banner_slide .slick-dots>li>button {
    width: 32px;
    height: 12px;
    font-size: 0;
    color: transparent;
    vertical-align: top;
    cursor: pointer;
}
.banner_slide .slick-dots>li {
    display: inline-block;
    vertical-align: top;
}
.banner_slide .slick-dots>li>button {
    width: 8px;
    height: 8px;
}
.banner_slide .slick-dots .slick-active button:before {
    background-color: #fff;
}
.banner_slide .slick-dots>li+li {
    margin-left: 8px;
}
.banner, .home_products, .shortcut_collection, .social_style_slide {
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
.slick-slider .prev_arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 10;
    font-size: 50px;
    color: #f2f9f6;
}


.slick-slider .next_arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 10;
    font-size: 50px;
    color: #f2f9f6;

}

.icosearch, .delete_x{
    width: 24px;
    height: 24px;
}
.image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    image-rendering: auto;
}

.lg .shortcut_items_wrap {
    padding-left: 40px;
    padding-right: 40px;
    grid-column-gap: 16px;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;

}



.shortcut_items_wrap{
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-row-gap: 16px;
    row-gap: 16px;
    grid-column-gap: 8px;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;


}

.shortcut_main{
    justify-content: center;
    display: flex;
}

.shortcut_main > .shortcut_item {
    width: 23%;
}


.shortcut_item {
    text-align: center;
    display: inline-block;
    cursor: pointer;

}
.lg .shortcut_item_img_wrap:after, .md .shortcut_item_img_wrap, .md .shortcut_item_img_wrap:after {
    border-radius: 10px;
}
.lg .shortcut_item_img_wrap, .md .shortcut_item_img_wrap {
    height: 100px;
}
.shortcut_item_img_wrap{
    position: relative;
}
.lg .shortcut_item_img_wrap>.shortcut_item_img_bg, .md .shortcut_item_img_wrap>.shortcut_item_img_bg {
    border-radius: 9px;
}
.shortcut_item_img_wrap>.shortcut_item_img_bg{
    overflow: hidden;
    height: 100%;
}
.picture {
    display: -webkit-box;
    display: flex;
}

.shortcut_item_img_wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(34,34,34,.05);
}
.shortcut_item_title {
    font-size: 15px;
    letter-spacing: -.15px;
    color: #333;
    margin-top: 8px;
}

.product_title{
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
}
.product_title .title{
    font-size: 20px;
    letter-spacing: -.1px;
    font-weight: 700;
    color: #000;
}
.product_title .sub_title {
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34,34,34,.5);
}
.product_list_wrap{
    max-width: 1280px;
    margin: 0 auto;
    overflow-anchor: none;
}
.product_list_wrap .product_list{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0 28px;
    width: 100%;
}
.product_list_wrap .product_list:after {
    content: "";
    display: block;
    clear: both;
}
.product_list_wrap .product_item:nth-child(4n+1) {
    clear: left;
}

.product_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    padding: 0 12px;
    width: 24%;
    cursor: pointer;
}
.product_item .item_inner{
    display: block;
    background-color: #fff;
    border-radius: 12px;
}
.product {
    overflow: hidden;
    position: relative;
    padding-top: 100%;
    border-radius: 8px;
}
.product:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}
.detail_stock .product_img, .is_exclusive .product_img, .lucky_draw_column .product_img, .other_stock .product_img, .product_img, .stock .product_img {
    width: 100%;
    height: auto;
}
.product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.product_item .btn_wish{
    position: absolute;
    display: -webkit-inline-box;
    display: inline-flex;
    bottom: 3px;
    right: 3px;
    padding: 5px;
    z-index: 1;
}
.btn_wish{
    display: -webkit-box;
    display: flex;
    height: inherit;
}
.product_list_wrap .product_list::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.product_item .info_box{
    padding-top: 9px;
}
.brand-text {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 17px;
    line-height: 17px;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-bottom: 1px solid #222;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
}
[class*=brand-] {
    width: auto;
    height: 20px;
}
.aos .product_item .name, .win_os .product_item .name {
    max-height: 44px;
    margin-bottom: 2px;
}
.product_item .name{
    line-height: 17px;
    margin-top: 8.5px;
    max-height: 34px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 14px;
    color: #222;
}
.product_item .badge{
    margin-top: 4px;
}
.badge_product.shipping_express:before {
    content: "";
    position: absolute;
    left: 3.5px;
    top: 3px;
    width: 11px;
    height: 13px;
    background: url("../../img/main/ico-express.8dac9dc.svg") 0 0 no-repeat;
    background-size: 11px 13px;
}
.badge_product.shipping_express{
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 11px;
    padding: 4.5px 5.5px 4.5px 17px;
    color: #31b46e;
    background-color: #f2f9f6;
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: -.33px;
    height: 20px;
}
.product_item .price{
    padding-top: 7px;
}
.product_item .amount{
    font-size: 0;
    line-height: 0;
}
.product_item .discount_rate, .product_item .num, .product_item .won {
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
    font-size: 15px;
    letter-spacing: -.15px;
    font-weight: 700;
    letter-spacing: -.04px;
}
.product_item .desc {
    line-height: 13px;
    font-size: 11px;
    color: rgba(34,34,34,.5);
}
.product_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    padding: 0 12px;
    width: 24%;
}
.product_item .item_inner {
    display: block;
    background-color: #fff;
    border-radius: 12px;
}
.product_list_wrap .btn_product{
    padding: 0 32px;
    text-align: center;
}
.product_list_wrap .btn_product .btn{
    padding: 0 30px;
    margin-top: 20px;
}
.outlinegrey {
    border: 1px solid #d3d3d3;
    color: rgba(34,34,34,.8);
}
.medium{
    padding: 0 18px;
    height: 42px;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: -.14px;
}
.product_title .title {
    font-size: 20px;
    letter-spacing: -.1px;
    font-weight: 700;
    color: #000;
}
.product_title+.shortcut_items_wrap{
    margin-top: 20px;
}
.banner+.home_products{
    margin-top: 30px;
}
.social_style_slide{
    margin: 0 auto;
    padding: 30px 0 60px;
    max-width: 1280px;
}
.style_title{
    padding: 0 20px 20px;
    font-size: 24px;
    letter-spacing: -.12px;
    font-weight: 700;
    color: #000;
}
.style_slide{
    margin: 0 -9px;
    padding: 0 40px;
}
.social_style_slide .slick-slider {
    position: relative;
}
.social_style_slide .slick-arrow.slick-prev {
    left: -31px;
    z-index: 1;
    background: url(/_nuxt/img/arr-left-circle-big.7c37625.svg) no-repeat;
}
.social_style_slide .custom-arrow {
    display: none;
}

.social_style_slide.slick-list {
    overflow: hidden;
}
.social_style_slide .slick-track:after {
    content: "";
    display: block;
    clear: both;
}
.social_style_slide .slick-slide {
    float: left;
}
.card_link {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 9px;
    padding-top: 121.186%;
    border-radius: 10px;
    outline-width: 0;
    outline: none;
}
.card_link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,.5),transparent 30%);
    background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent 30%);
    border-radius: inherit;
    border: 1px solid #ebebeb;
}
.img_card{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-height: 100%;
}
.profile_img_box{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    z-index: 10;
}
.profile_img_box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #fff;
    border-radius: inherit;
}
.img_profile{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -o-object-fit: cover;
    object-fit: cover;
}
.user_name {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 12px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #fff;
    z-index: 10;
}
.social_style_slide .slick-arrow.slick-next {
    right: -30px;
    z-index: 1;
    background: url(/_nuxt/img/arr-right-circle-big.9802494.svg) no-repeat;
}

.banner_slide .slick-dots>li>button:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: hsla(0,0%,100%,.3);
}
.banner+.home_products {
    margin-top: 30px;
}
.product_date {
    position: absolute;
    top: 16px;
    left: 16px;
    min-width: 30px;
    text-align: center;
}
.product_date .month{
    line-height: 19px;
    padding-bottom: 2px;
    font-size: 16px;
    letter-spacing: -.16px;
    letter-spacing: -.05px;
    border-bottom: 2px solid #222;
}
.product_date .day{
    padding-top: 2px;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: -.3px;
    font-weight: 700;
    letter-spacing: -.5px;
}
.list_loading {
    padding: 120px 0;
    text-align: center;
}
.loading_img {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.banner_bottom {
    display: -webkit-box;
    display: flex;
}
.banner_bottom .banner_box:first-child {
    background-color: #565656;
}
.banner_bottom .banner_box {
    position: relative;
    padding: 36px 32px 0;
    width: 100%;
    height: 200px;
}
.banner_bottom .banner_box>.bg{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}
.banner_bottom .banner_info {
    position: relative;
    z-index: 2;
    max-width: 300px;
    color: #fff;
}
.banner_bottom .info_subtitle {
    font-size: 12px;
    text-transform: uppercase;
}
.banner_bottom .info_title{
    padding-top: 12px;
    text-shadow: -1px 0 #565656,0 1px #565656,1px 0 #565656,0 -1px #565656;
    font-size: 16px;
    letter-spacing: -.16px;
}
.banner_bottom .info_txt {
    margin-top: 16px;
    padding: 0 7px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: -.06px;
    height: 29px;
    line-height: 27px;
    border-radius: 6px;
    border: 1px solid hsla(0,0%,100%,.8);
    color: #fff;
}
.banner_bottom .banner_box:nth-child(2) {
    background-color: #3b3a3c;
}
.btn_top {
    position: fixed;
    bottom: 70px;
    right: 24px;
    width: 44px;
    height: 48px;
    z-index: 999;
}
.btn_bottom {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 44px;
    height: 48px;
    z-index: 999;
}
.chatbot {
    position: fixed;
    bottom: 24px;
    left: 24px;
    width: 50px;
    height: 50px;

    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    /* background-color: #fff; */
    z-index: 999;
}
.footer{
    padding: 50px 40px;
    border-top: 1px solid #ebebeb;
}
.footer .inner{
    position: relative;
}
.service_area{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 56px;
    border-bottom: 1px solid #ebebeb;
}
.service_title{
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: -.16px;
    font-weight: 700;
}
.sevice_tel{
    margin-left: 4px;
    letter-spacing: normal;
}
.service_time {
    padding-top: 8px;
}
.time_box {
    line-height: 17px;
}
.time_term {
    margin-right: 4px;
}
.time_description, .time_term{
    float: left;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.5);
    max-width: 263px;
    line-height: 20px;
}
.time_box:after {
    content: "";
    display: block;
    clear: both;
}
.service_noti{
    padding-top: 8px;
    font-size: 13px;
    letter-spacing: -.07px;
}
.service_btn_box{
    padding-top: 17px;
}
.service_btn_box .btn{
    border-radius: 0;
    color: #fafafa;
}
.solid{
    font-weight: 700;
    color: #fff;
    background-color: #222;
}
.small, .xsmall{
    font-size: 12px;
    letter-spacing: -.06px;
}
.small{
    padding: 0 14px;
    height: 34px;
    border-radius: 10px;
}
.footer_menu {
    display: -webkit-box;
    display: flex;
}
.menu_box{
    width: 160px;
}

.menu_title{
    font-size: 16px;
    letter-spacing: -.16px;
}
.menu_list{
    margin: 0;
    padding-top: 16px;
    padding-left: 0;
}
.menu_list:after {
    content: "";
    display: block;
    clear: both;
}
.menu_link{
    display: inline-block;
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34,34,34,.5);
}
.menu_item+.menu_item{
    margin-top: 12px;
}
.menu_list:after {
    content: "";
    display: block;
    clear: both;
}
.menu_box+.menu_box {
    margin-left: 80px;
}
.corporation_area{
    position: relative;
    margin-top: 30px;
}
.term_list{
    padding-bottom: 16px;
    display: -webkit-inline-box;
    display: inline-flex;
}
.term_item{
    margin-right: 20px;
}
.term_link{
    display: block;
    font-size: 14px;
    letter-spacing: -.21px;
    color: #000;
}
.privacy .term_link{
    font-weight: 700;
}
.footer_sns{
    position: absolute;
    top: 0;
    right: 0;
}
.sns_box{
    font-size: 0;
}
.sns{
    display: inline-block;
}
.sns+.sns{
    margin-left: 20px;
}
.btn_business{
    display: none;
}
.info_list:after {
    content: "";
    display: block;
    clear: both;
}
.info_item:last-child {
    margin-right: 0;
}
.info_item{
    float: left;
    margin-right: 17px;
}

.business_title{
    float: left;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -.07px;
    margin-right: 4px;
    color: rgba(34,34,34,.5);
}
.business_title .blank {
    margin-right: 17px;
}
.business_title a {
    text-decoration: underline;
    cursor: pointer;
}
.notice_area {
    padding-top: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}
.notice{
    max-width: 605px;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.4);
}
.copyright{
    margin-left: auto;
    flex-shrink: 0;
    font-size: 12px;
    color: rgba(34,34,34,.3);
}
.toast{
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 20px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    visibility: hidden;
}
.toast .wrap{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(34,34,34,.8);
    border-radius: 25px;
    min-width: 400px;
    height: 50px;
    padding: 6px 43px 6px 12px;
}
.toast-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.toast-content{
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}
.test::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.slick-slider .sc_prev_arrow{
    position: absolute;
    opacity: 0.7;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 10;
    font-size: 30px;
    color: #f0f0f0;
}
.slick-slider .sc_next_arrow{
    position: absolute;
    opacity: 0.7;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 10;
    font-size: 30px;
    color: #f0f0f0;
}
