.footer{
    padding: 50px 40px;
    border-top: 1px solid #ebebeb;
}
.footer .inner{
    position: relative;
}
.service_area{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 56px;
    border-bottom: 1px solid #ebebeb;
}
.service_title{
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: -.16px;
    font-weight: 700;
}
.sevice_tel{
    margin-left: 4px;
    letter-spacing: normal;
}
.service_time {
    padding-top: 8px;
}
.time_box {
    line-height: 17px;
}
.time_term {
    margin-right: 4px;
}
.time_description, .time_term{
    float: left;
    font-size: 13px;
    letter-spacing: -.07px;
    color: rgba(34,34,34,.5);
    max-width: 263px;
    line-height: 20px;
}
.time_box:after {
    content: "";
    display: block;
    clear: both;
}
.service_noti{
    padding-top: 8px;
    font-size: 13px;
    letter-spacing: -.07px;
}
.service_btn_box{
    padding-top: 17px;
}
.service_btn_box .btn{
    border-radius: 0;
    color: #fafafa;
}
.solid{
    font-weight: 700;
    color: #fff;
    background-color: #222;
}
.small, .xsmall{
    font-size: 12px;
    letter-spacing: -.06px;
}
.small{
    padding: 0 14px;
    height: 34px;
    border-radius: 10px;
}
.footer_menu {
    display: -webkit-box;
    display: flex;
}
.menu_box{
    width: 160px;
}

.menu_title{
    font-size: 16px;
    letter-spacing: -.16px;
}
.menu_list{
    margin: 0;
    padding-top: 16px;
    padding-left: 0;
}
.menu_list:after {
    content: "";
    display: block;
    clear: both;
}
.menu_link{
    display: inline-block;
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34,34,34,.5);
}
.menu_item+.menu_item{
    margin-top: 12px;
}
.menu_list:after {
    content: "";
    display: block;
    clear: both;
}
.menu_box+.menu_box {
    margin-left: 80px;
}
.corporation_area{
    position: relative;
    margin-top: 30px;
}
.term_list{
    padding-bottom: 16px;
    display: -webkit-inline-box;
    display: inline-flex;
}
.term_item{
    margin-right: 20px;
}
.term_link{
    display: block;
    font-size: 14px;
    letter-spacing: -.21px;
    color: #000;
}
.privacy .term_link{
    font-weight: 700;
}
.footer_sns{
    position: absolute;
    top: 0;
    right: 0;
}
.sns_box{
    font-size: 0;
}
.sns{
    display: inline-block;
}
.sns+.sns{
    margin-left: 20px;
}
.btn_business{
    display: none;
}
.info_list:after {
    content: "";
    display: block;
    clear: both;
}
.info_item:last-child {
    margin-right: 0;
}
.info_item{
    float: left;
    margin-right: 17px;
}

.business_title{
    float: left;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -.07px;
    margin-right: 4px;
    color: rgba(34,34,34,.5);
}
.business_title .blank {
    margin-right: 17px;
}
.business_title a {
    text-decoration: underline;
    cursor: pointer;
}
.notice_area {
    padding-top: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}
.notice{
    max-width: 605px;
    font-size: 12px;
    letter-spacing: -.06px;
    color: rgba(34,34,34,.4);
}
.copyright{
    margin-left: auto;
    flex-shrink: 0;
    font-size: 12px;
    color: rgba(34,34,34,.3);
}
.toast{
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 20px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    visibility: hidden;
}
.toast .wrap{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(34,34,34,.8);
    border-radius: 25px;
    min-width: 400px;
    height: 50px;
    padding: 6px 43px 6px 12px;
}
.toast-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.toast-content{
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}
.notice_guarantee {
    padding: 40px 0 8px;
    font-size: 12px;
    letter-spacing: -.06px;
}
.notice_guarantee .title {
    font-weight: 700;
}
.notice_guarantee .description {
    margin-top: 4px;
    color: rgba(34,34,34,.5);
}
.notice_guarantee .link_guarantee {
    margin-left: 4px;
    text-decoration: underline;
}